force-app/main/default/flows/Account_Partner_Account_ID_Auto_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AutoNumber</name>
        <label>Assign AutoNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_AutoNumber_Custom_Setting.Autonumber_Partner_ID__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Id_of_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Partner_Account_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AutoNumber_Custom_Setting</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>autonumberformula</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT({!Get_AutoNumber_Custom_Setting.Autonumber_Partner_ID__c}))=4,
&quot;P-0&quot;+TEXT({!Get_AutoNumber_Custom_Setting.Autonumber_Partner_ID__c}),
&quot;P-&quot;+TEXT({!Get_AutoNumber_Custom_Setting.Autonumber_Partner_ID__c}))</expression>
    </formulas>
    <interviewLabel>Account: Partner Account ID Auto Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Partner Account ID Auto Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AutoNumber_Custom_Setting</name>
        <label>Get AutoNumber Custom Setting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AutoNumber</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Auto_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Account_Record_Type</name>
        <label>Get Partner Account Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_Accounts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AutoNumber_from_Custom_Settings</name>
        <label>Update AutoNumber from Custom Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_AutoNumber_Custom_Setting</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Id_of_Account_Record</name>
        <label>Update Partner Id of Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_AutoNumber_from_Custom_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>Partner_ID__c</field>
            <value>
                <elementReference>autonumberformula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_Account_Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
