force-app/main/default/flows/Account_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_Data_Sharing_Permission</name>
        <label>Send Notification - Data Sharing Permission</label>
        <locationX>776</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_External_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Flow_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Data Sharing Permission Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Data Sharing Permission has been updated to true for {!$Record.Name} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_To_Collection</name>
        <label>Add Opp To Collection</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>OppCollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Name</name>
        <label>Assign External Name</label>
        <locationX>776</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.External_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marketing_Consent_No</name>
        <label>Assign Marketing Consent No</label>
        <locationX>336</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Send_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marketing_Consent_Yes</name>
        <label>Assign Marketing Consent Yes</label>
        <locationX>72</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Send_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Id</name>
        <label>Assign Partner Id</label>
        <locationX>204</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_pc__pr.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Data_Sharing_Permission</name>
        <label>Assign Recipient - Data Sharing Permission</label>
        <locationX>776</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_IAR_Data_Sharing_Permissions_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_BD_Team_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Data_Sharing_Permission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Auto_Renew</name>
        <label>Update Opp Auto Renew</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Auto_Renew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Auto_Renew__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>1084</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Notification</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Data_Sharing_Permission</name>
        <label>Check Data Sharing Permission</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_External_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_change_to_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IAR_Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BD_Team_Group</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is change to TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_External_Name</name>
        <label>Check External Name</label>
        <locationX>908</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External_Name_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_External_Name</targetReference>
            </connector>
            <label>External Name is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Marketing_Consent</name>
        <label>Check Marketing Consent</label>
        <locationX>336</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Partner_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketing_Consent_changed_to_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Consent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Marketing_Consent_Yes</targetReference>
            </connector>
            <label>Marketing Consent changed to Yes</label>
        </rules>
        <rules>
            <name>Marketing_Consent_changed_to_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketing_Consent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketing_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Marketing_Consent_No</targetReference>
            </connector>
            <label>Marketing Consent changed to No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_Open_Or_Won_Opp_s</name>
        <label>Has Related Open Or Won Opp(s)?</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Check_Marketing_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Opportunities_Open__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Renew__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Acc_Opps_w_diff_Auto_Renew</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opps_Found</name>
        <label>Opps Found?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_Marketing_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Acc_Opps_w_diff_Auto_Renew</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Is_Changed</name>
        <label>Partner Is Changed</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_pc__pc</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_pc__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Id</targetReference>
            </connector>
            <label>Yes - Partner is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Check Record Type</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Related_Open_Or_Won_Opp_s</targetReference>
            </connector>
            <label>Customer Account</label>
        </rules>
        <rules>
            <name>Partner_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Data_Sharing_Permission</targetReference>
            </connector>
            <label>Partner Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Name_formula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Name}), {!$Record.FirstName}&amp;&quot; &quot;&amp;{!$Record.LastName}, {!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Account: Create &amp; Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Create &amp; Update</label>
    <loops>
        <name>Loop_On_Opps</name>
        <label>Loop On Opps</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Open_Acc_Opps_w_diff_Auto_Renew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opp_Auto_Renew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BD_Team_Group</name>
        <label>Get BD Team Group</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IAR_Data_Sharing_Permissions_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Notification</name>
        <label>Get Flow Notification</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IAR_Data_Sharing_Permissions_Group</name>
        <label>Get IAR - Data Sharing Permissions Group</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Data_Sharing_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IAR_Data_Sharing_Permissions</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Acc_Opps_w_diff_Auto_Renew</name>
        <label>Get Open Acc Opps w diff Auto Renew</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opps_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Renew__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Auto_Renew__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>776</locationX>
        <locationY>2339</locationY>
        <inputReference>var_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opps</name>
        <label>Update Opps</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Check_Marketing_Consent</targetReference>
        </connector>
        <inputReference>OppCollectionToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>958</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>notification_Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppCollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
