force-app/main/default/flows/Case_Scheduled_Implementation_OPP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Task_Variables_1</name>
        <label>Assign Task Variables - 1</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up Off-Payroll Protect implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please check if the first Bordereaux submission has been received for {Case.Account}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variables_2</name>
        <label>Assign Task Variables - 2</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Off-Payroll Protect implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please review the number of Contractors on the OPP scheme for {Case.Account} to monitor trends/increases since OPP confirmation and put together a Bi-Annual partner review.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Variables_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variables_2_1</name>
        <label>Assign Task Variables - 2.1</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>var_Task_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Off-Payroll Protect implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please review the number of Contractors on the OPP scheme for {Case.Account} to monitor trends/increases since OPP confirmation and put together a Bi-Annual partner review.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Created_Date</name>
        <label>Check Created Date</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>After_1_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_CreatedDate_1Month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Variables_1</targetReference>
            </connector>
            <label>After 1 Month</label>
        </rules>
        <rules>
            <name>After_7_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_CreatedDate_7Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Queue</targetReference>
            </connector>
            <label>After 7 Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Created_Date</targetReference>
            </connector>
            <label>Procees</label>
        </rules>
    </decisions>
    <description>Scheduled flow that on Cases with the Record Type &apos;Implementation&apos; and Case Sub-Type &apos;Off-Payroll Protect&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_CreatedDate_1Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( DATEVALUE({!$Record.CreatedDate}) ,1)</expression>
    </formulas>
    <formulas>
        <name>formula_CreatedDate_7Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( DATEVALUE({!$Record.CreatedDate}) ,7)</expression>
    </formulas>
    <interviewLabel>Case: Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Scheduled: Implementation &amp; OPP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_1</name>
        <label>Create Task - 1</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <inputReference>var_Task</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_2</name>
        <label>Create Task - 2</label>
        <locationX>314</locationX>
        <locationY>900</locationY>
        <inputReference>col_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Implementation_Queue</name>
        <label>Get Implementation Queue</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Variables_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off-Payroll Protect</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-16</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>task_Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please review the number of Contractors on the OPP scheme for {!$Record.Account.Name} to monitor trends/increases since OPP confirmation and put together a Bi-Annual partner review.</text>
    </textTemplates>
    <variables>
        <name>col_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
