force-app/main/default/flows/Case_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_Case_Closed_1</name>
        <label>Send Email Alert - Case Closed - 1</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <actionName>Case.Case_Customer_Support_Case_Closed_ContactEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_is_changed_to</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Customer_Support_Case_Closed_ContactEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_Case_Closed_2</name>
        <label>Send Email Alert - Case Closed - 2</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <actionName>Case.Case_Customer_Support_Case_Closed_WebEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_is_changed_to</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Customer_Support_Case_Closed_WebEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_IR_35</name>
        <label>Send Notification - IR 35</label>
        <locationX>1106</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Status_is_changed_to</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Flow_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You received a response for Implementation Case {!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>You received a response for the IR 35 tool Implementation Case with {!$Record.Contact.FirstName} {!$Record.Contact.LastName} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Initial_Implementation_values</name>
        <label>Assign Initial Implementation values</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Initial_Implementation_completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Implementation_completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_isStopped_to_False</name>
        <label>Assign isStopped to False</label>
        <locationX>556</locationX>
        <locationY>2699</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.IsStopped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_isStopped_to_True</name>
        <label>Assign isStopped to True</label>
        <locationX>292</locationX>
        <locationY>2699</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.IsStopped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_1</name>
        <label>Assign Recipient - 1</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Implementation_IR_35_Tool_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_IR_35</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Origin</name>
        <label>Check Case Origin</label>
        <locationX>732</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Status_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email-To-Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_2</targetReference>
            </connector>
            <label>Email-to-Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Email</name>
        <label>Check Contact Email</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Status_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_to_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_Case_Closed_1</targetReference>
            </connector>
            <label>Send to Contact Email</label>
        </rules>
        <rules>
            <name>Send_to_Web_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_Case_Closed_2</targetReference>
            </connector>
            <label>Send to Web Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>1227</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Flow_Notification</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Milestones_Paused_or_Resume</name>
        <label>Check for Milestones Paused or Resume</label>
        <locationX>556</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Pause</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsStopped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Questions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FNOL with Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_isStopped_to_True</targetReference>
            </connector>
            <label>Pause</label>
        </rules>
        <rules>
            <name>Resume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsStopped</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Questions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>With Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FNOL with Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>With Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_isStopped_to_False</targetReference>
            </connector>
            <label>Resume</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Initial_Implementation_Completed</name>
        <label>Check Initial Implementation Completed</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>Initial_Implementation_Completed_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_Implementation_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Implementation_values</targetReference>
            </connector>
            <label>Initial Implementation Completed = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_1</name>
        <label>Check Record Type - 1</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Status_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_changed_to</targetReference>
            </connector>
            <label>Underwriting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_2</name>
        <label>Check Record Type - 2</label>
        <locationX>534</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Status_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Email</targetReference>
            </connector>
            <label>Customer Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Case_Sub_Type_Closed</name>
        <label>Check Record Type &amp; Case Sub-Type - Closed</label>
        <locationX>732</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Implementation_IR35_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR 35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Initial_Implementation_Completed</targetReference>
            </connector>
            <label>Implementation &amp; IR35 - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Case_Sub_Type_Customer_Replied</name>
        <label>Check Record Type &amp; Case Sub-Type - Customer Replied</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Status_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Implementation_IR35_Customer_Replied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR 35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_IR_35_Tool_Queue</targetReference>
            </connector>
            <label>Implementation &amp; IR35 - Customer Replied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_3</name>
        <label>Check Status - 3</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Status_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Case_Sub_Type_Closed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Customer_Replied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Replied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Case_Sub_Type_Customer_Replied</targetReference>
            </connector>
            <label>Customer Replied</label>
        </rules>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_is_changed_to</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>600</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Check_for_Milestones_Paused_or_Resume</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Cancellation_Reason_to_Policy</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_changed_to</name>
        <label>Status is changed to</label>
        <locationX>556</locationX>
        <locationY>2099</locationY>
        <defaultConnector>
            <targetReference>Check_for_Milestones_Paused_or_Resume</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Escalated_Reassign_to_Queue_Flow_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Escalated - 2</label>
        </rules>
        <rules>
            <name>Closed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed - 2</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Case is updated</description>
    <environments>Default</environments>
    <interviewLabel>Case: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Flow_Notification</name>
        <label>Get Flow Notification</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_IR_35_Tool_Queue</name>
        <label>Get Implementation - IR 35 Tool Queue</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation_IR_35_Tool</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Stamp_Cancellation_Reason_to_Policy</name>
        <label>Stamp Cancellation Reason to Policy</label>
        <locationX>468</locationX>
        <locationY>2315</locationY>
        <connector>
            <targetReference>Check_for_Milestones_Paused_or_Resume</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.Cancellation_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <object>Policy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>556</locationX>
        <locationY>2891</locationY>
        <inputReference>var_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>1101</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Escalated_Reassign_to_Queue_Flow_1</name>
        <label>Case: Escalated Reassign to Queue Flow 1</label>
        <locationX>204</locationX>
        <locationY>2207</locationY>
        <connector>
            <targetReference>Check_for_Milestones_Paused_or_Resume</targetReference>
        </connector>
        <flowName>Case_Escalated_Reassign_to_Queue</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colCM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
    <variables>
        <name>notification_Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_CaseStageTimer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Stage_Timer__c</objectType>
    </variables>
    <variables>
        <name>varCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseMilestone</objectType>
    </variables>
</Flow>
