force-app/main/default/flows/Case_Scheduled_Implementation_IR35.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variable</name>
        <label>Assign Task Variable</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial IR35 Usage report for {!$Record.Account.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> The IR35 tool has been implemented 3 month ago for  {!$Record.Account.Name}, please create a report </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Variable_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variable_Account_Owner</name>
        <label>Assign Task Variable - Account Owner</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>var_Task_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial IR35 Usage report for {!$Record.Account.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> The IR35 tool has been implemented 3 month ago for  {!$Record.Account.Name}, please create a report </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Implementation_Completed_Date</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Implementation_Completed_Date</name>
        <label>Check Implementation Completed Date</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>X4_Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_ImpCompletedDate_4Month</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Queue</targetReference>
            </connector>
            <label>4 Months</label>
        </rules>
    </decisions>
    <description>Scheduled flow that on Cases with the Record Type &apos;Implementation&apos; and Case Sub-Type &apos;IR35&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ImpCompletedDate_4Month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Implementation_completed_Date__c} ,4)</expression>
    </formulas>
    <interviewLabel>Case: Scheduled: Implementation &amp; IR35 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Scheduled: Implementation &amp; IR35</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <inputReference>col_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Implementation_Queue</name>
        <label>Get Implementation Queue</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IR 35</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-17</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
