force-app/main/default/flows/Case_Escalated_Reassign_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send bell notification.</description>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>{!Get_Flow_Notifications.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>{!record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Set the recipients to queue members</description>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Appropriate_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Queue record was found</description>
        <name>Found_Queue</name>
        <label>Found Queue?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Found_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Appropriate_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Case</targetReference>
            </connector>
            <label>Yes - Found Queue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>queueName</name>
        <dataType>String</dataType>
        <expression>IF({!record.RecordType.Name} = &quot;Claims&quot;, &quot;Claims - Escalation&quot;,
IF({!record.RecordType.Name} = &quot;Underwriting&quot;, &quot;Underwriting - Escalation&quot;,
IF({!record.RecordType.Name} = &quot;Customer Support&quot; &amp;&amp; TEXT({!record.Case_Sub_Type__c}) = &quot;Customer Service&quot;, &quot;Customer Support - Escalation&quot;,
IF({!record.RecordType.Name} = &quot;Customer Support&quot; &amp;&amp; TEXT({!record.Case_Sub_Type__c}) = &quot;Renewals&quot;, &quot;Renewals - Escalation&quot;, &quot;&quot;
))))</expression>
    </formulas>
    <interviewLabel>Case: Escalated Reassign to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Escalated Reassign to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Queue to be assigned to the case</description>
        <name>Get_Appropriate_Queue</name>
        <label>Get Appropriate Queue</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>queueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the custom notification to be used when sending a bell notification.</description>
        <name>Get_Flow_Notifications</name>
        <label>Get Flow Notifications</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Change the case owner to queue</description>
        <name>Reassign_Case</name>
        <label>Reassign Case</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Flow_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Appropriate_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appropriate_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!record.CaseNumber} was reassigned to {!queueName} queue.</text>
    </textTemplates>
    <textTemplates>
        <name>title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case was assigned to {!queueName}</text>
    </textTemplates>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
