force-app/main/default/flows/Case_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Claims_Auto_Response_Template</name>
        <label>Claims Auto Response Template</label>
        <locationX>2712</locationX>
        <locationY>839</locationY>
        <actionName>Case.Case_Claims_Auto_Response_Template</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Flow_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Claims_Auto_Response_Template</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Cancellation_Case_Alert</name>
        <label>New Cancellation Case Alert</label>
        <locationX>3746</locationX>
        <locationY>1571</locationY>
        <actionName>Case.New_Cancellation_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_Policy_is_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Cancellation_Case_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_7</name>
        <label>Send Email - 7</label>
        <locationX>2866</locationX>
        <locationY>2003</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>implementation@kingsbridge.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Point_of_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_1</name>
        <label>Send Email Alert - 1</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <actionName>Case.Case_Customer_Support_Case_Created_ContactEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_In_App_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Customer_Support_Case_Created_ContactEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_2</name>
        <label>Send Email Alert - 2</label>
        <locationX>314</locationX>
        <locationY>1895</locationY>
        <actionName>Case.Case_Customer_Support_Case_Created_WebEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_In_App_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Customer_Support_Case_Created_WebEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_In_App_Notification</name>
        <label>Send In-App Notification</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Case_Description</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Flow_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>❗A new case has been created❗</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the case {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Customer_Accounts_Team_Queue</name>
        <label>Send Notification - Customer Accounts Team Queue</label>
        <locationX>1546</locationX>
        <locationY>1787</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Flow_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>❗A new case has been created❗</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please review the case {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_OPP</name>
        <label>Send Notification - OPP</label>
        <locationX>2602</locationX>
        <locationY>1895</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Flow_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Off-Payroll Protect Implementation Case created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Off-Payroll Protect Implementation Case created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds recipient to in-app notification from the queue</description>
        <name>Add_Recipient_to_Collection_1</name>
        <label>Add Recipient to Collection - 1</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Customer_Support_Queue_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_and_Subject_Customer_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds recipient to in-app notification from the queue</description>
        <name>Add_Recipient_to_Collection_2</name>
        <label>Add Recipient to Collection - 2</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Claims_Case_Queue_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_In_App_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds recipient to in-app notification from the queue</description>
        <name>Add_Recipient_to_Collection_3</name>
        <label>Add Recipient to Collection - 3</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Renewals_Case_Queue_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_In_App_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds recipient to in-app notification from the queue</description>
        <name>Add_Recipient_to_Collection_4</name>
        <label>Add Recipient to Collection - 4</label>
        <locationX>1546</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Customer_Accounts_Case_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Customer_Accounts_Team_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds recipient to in-app notification from the queue</description>
        <name>Add_Recipient_to_Collection_5</name>
        <label>Add Recipient to Collection - 5</label>
        <locationX>2602</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Underwriting_Case_Queue_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_OPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority_High</name>
        <label>Assign Priority - High</label>
        <locationX>578</locationX>
        <locationY>2753</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Account_Case_Queue</name>
        <label>Assign Queue - Account Case Queue</label>
        <locationX>1546</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Accounts_Case_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recipient_to_Collection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Claims</name>
        <label>Assign Queue - Claims</label>
        <locationX>2338</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claims_Case_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Customer_Support</name>
        <label>Assign Queue - Customer Support</label>
        <locationX>2074</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Customer_Support_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Implementation</name>
        <label>Assign Queue - Implementation</label>
        <locationX>3306</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Case_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Implementation_IR_35_Tool</name>
        <label>Assign Queue - Implementation IR 35 Tool</label>
        <locationX>2998</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_IR_35_Tool_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Point_Of_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_New_Business_Contractor</name>
        <label>Assign Queue - New Business - Contractor</label>
        <locationX>4186</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Business_Contractor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Renewals</name>
        <label>Assign Queue - Renewals</label>
        <locationX>1810</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewals_Case_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Underwriting_2</name>
        <label>Assign Queue - Underwriting - 2</label>
        <locationX>2602</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Underwriting_Case_Queue_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recipient_to_Collection_5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check Case Owner Queue</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Customer_Support_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Sub_Type</targetReference>
            </connector>
            <label>Customer Support Queue</label>
        </rules>
        <rules>
            <name>Claims_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claims_Case_Queue_Email</targetReference>
            </connector>
            <label>Claims Queue</label>
        </rules>
        <rules>
            <name>Renewals_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewals</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Sub_Type_1</targetReference>
            </connector>
            <label>Renewals Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the field &quot;Use Active Assignment Rules&apos;</description>
        <name>Check_Active_Assignment_Rules</name>
        <label>Check Active Assignment Rules</label>
        <locationX>3856</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Active_Assignment_Rules_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Use_Active_Assignment_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Description</name>
        <label>Check Case Description</label>
        <locationX>710</locationX>
        <locationY>2321</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Contains_Complaint</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Complaint_RT</targetReference>
            </connector>
            <label>Contains Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Origin</name>
        <label>Check Case Origin</label>
        <locationX>2844</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email-To-Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check</targetReference>
            </connector>
            <label>Email-to-Case</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Email-To-Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Active_Assignment_Rules</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Email_Customer_Support</name>
        <label>Check Contact Email - Customer Support</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_In_App_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_to_Contact_Email_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_1</targetReference>
            </connector>
            <label>Send to Contact Email - CS</label>
        </rules>
        <rules>
            <name>Send_to_Web_Email_CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert_2</targetReference>
            </connector>
            <label>Send to Web Email - CS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Setting</name>
        <label>Check Custom Setting</label>
        <locationX>4043</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Account</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_and_Subject_Customer_Support</name>
        <label>Check Email and Subject - Customer Support</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Email_Customer_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OOO/DoNotReply</defaultConnectorLabel>
        <rules>
            <name>Do_not_send_Customer_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>donotreply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>donotreply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of Offiice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OOO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>out-of-office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic reply</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Send_In_App_Notification</targetReference>
            </connector>
            <label>Do not send - Customer Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Policy_is_populated</name>
        <label>Check if Policy is populated</label>
        <locationX>3878</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Policy_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Policy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy__r.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Contact_Details</targetReference>
            </connector>
            <label>Policy is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Point_Of_Contact</name>
        <label>Check Opportunity Point Of Contact</label>
        <locationX>2998</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Point Of Contact</defaultConnectorLabel>
        <rules>
            <name>Existing_Point_Of_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Point_of_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Existing Point Of Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>2998</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Support_Case_Record_Customer_Accounts_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Accounts Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contain_Offline_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Accounts_Case_Queue</targetReference>
            </connector>
            <label>Customer Support Case Record &amp; Customer Accounts Team</label>
        </rules>
        <rules>
            <name>Customer_Support_Case_Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contain_Offline_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewals_Case_Queue</targetReference>
            </connector>
            <label>Customer Support Case &amp; Renewals</label>
        </rules>
        <rules>
            <name>Customer_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contain_Offline_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Support_Queue</targetReference>
            </connector>
            <label>Customer Support Case</label>
        </rules>
        <rules>
            <name>Claims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claims_Case_Queue</targetReference>
            </connector>
            <label>Claims</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Sub_Type_Implementation</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Underwriting</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owned_by_User</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Business_Contractor</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sub_Type_Implementation</name>
        <label>Check Sub-Type - Implementation</label>
        <locationX>2954</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Get_Implementation_Case_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Off_Payroll_Protect_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off-Payroll Protect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Underwriting_Case_Queue_2</targetReference>
            </connector>
            <label>Off-Payroll Protect - Implementation</label>
        </rules>
        <rules>
            <name>IR_35_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR 35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_IR_35_Tool_Queue</targetReference>
            </connector>
            <label>IR 35 - Implementation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account</name>
        <label>Has Account?</label>
        <locationX>2844</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Recordtype_Claims</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Account_Vulnerable</targetReference>
            </connector>
            <label>Yes - has Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recordtype_Claims</name>
        <label>Is Recordtype Claims</label>
        <locationX>2844</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Get_Flow_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Claims_Has_Web_or_Contact_Email</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claims_Auto_Response_Template</targetReference>
            </connector>
            <label>Claims - Has Web or Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owned_by_User</name>
        <label>Owned by User</label>
        <locationX>3878</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Check_if_Policy_is_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_by_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Cancellation_Case_Alert</targetReference>
            </connector>
            <label>Yes - Owner by User</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Case is created</description>
    <environments>Default</environments>
    <formulas>
        <name>Contain_Offline_Payment</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Subject}, &quot;Offline&quot;)</expression>
    </formulas>
    <interviewLabel>Case: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claims_Case_Queue</name>
        <label>Get  Claims Case Queue</label>
        <locationX>2338</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Claims</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claims</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claims_Case_Queue_Email</name>
        <label>Get  Claims Case Queue - Email</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_to_Collection_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claims</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Complaint_RT</name>
        <label>Get Complaint RT</label>
        <locationX>578</locationX>
        <locationY>2429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Accounts_Case_Queue</name>
        <label>Get Customer Accounts Case Queue</label>
        <locationX>1546</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Account_Case_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Accounts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Support</name>
        <label>Get Customer Support</label>
        <locationX>578</locationX>
        <locationY>2537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_RT_and_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Support_Queue</name>
        <label>Get Customer Support Queue</label>
        <locationX>2074</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Customer_Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Support_Queue_Email</name>
        <label>Get Customer Support Queue - Email</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_to_Collection_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>2866</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IR_35_Tool_Setup</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Notification</name>
        <label>Get Flow Notification</label>
        <locationX>2844</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Case_Queue</name>
        <label>Get  Implementation Case Queue</label>
        <locationX>3306</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Implementation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_IR_35_Tool_Queue</name>
        <label>Get  Implementation - IR 35 Tool Queue</label>
        <locationX>2998</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Implementation_IR_35_Tool</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation_IR_35_Tool</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Business_Contractor</name>
        <label>Get New Business - Contractor</label>
        <locationX>4186</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_New_Business_Contractor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business - Contractor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewals_Case_Queue</name>
        <label>Get  Renewals Case Queue</label>
        <locationX>1810</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewals_Case_Queue_Email</name>
        <label>Get  Renewals Case Queue - Email</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_to_Collection_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Underwriting_Case_Queue_2</name>
        <label>Get Underwriting Case Queue - 2</label>
        <locationX>2602</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Queue_Underwriting_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Contact_Details</name>
        <label>Populate Contact Details</label>
        <locationX>3746</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Policy__r.Customer__r.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Case Sub-Type on Triggering Record</description>
        <name>Set_Case_Sub_Type</name>
        <label>Set Case Sub-Type</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_Customer_Support_Queue_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Sub_Type__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set Case Sub-Type on Triggering Record</description>
        <name>Set_Case_Sub_Type_1</name>
        <label>Set Case Sub-Type</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Get_Renewals_Case_Queue_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Sub_Type__c</field>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stamp_Account_Vulnerable</name>
        <label>Stamp Account Vulnerable</label>
        <locationX>2712</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Is_Recordtype_Claims</targetReference>
        </connector>
        <inputAssignments>
            <field>Vulnerable__c</field>
            <value>
                <elementReference>$Record.Account.Vulnerable__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2844</locationX>
        <locationY>3029</locationY>
        <inputReference>var_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_RT_and_Owner</name>
        <label>Update Case RT and Owner</label>
        <locationX>578</locationX>
        <locationY>2645</locationY>
        <connector>
            <targetReference>Assign_Priority_High</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Customer_Support.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Complaint_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3917</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Setting</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailAddressCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddressSingle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!ToNumber}@txtlocal.co.uk</stringValue>
        </value>
    </variables>
    <variables>
        <name>notification_Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSMessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSMessageLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>smsTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
