force-app/main/default/flows/Email_Message_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Case_Status_Awaiting_Questions</name>
        <label>Update Case Status - Awaiting Questions</label>
        <locationX>1546</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Questions</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Customer_Replied</name>
        <label>Update Case Status -Customer Replied</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Replied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Waiting_on_Customer</name>
        <label>Update Case Status - Waiting on Customer</label>
        <locationX>1018</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Waiting_on_Customer_Sales</name>
        <label>Update Case Status - Waiting on Customer (Sales)</label>
        <locationX>2338</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_Waiting_on_Partner</name>
        <label>Update Case Status - Waiting on Partner</label>
        <locationX>1282</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_With_Customer</name>
        <label>Update Case Status - With Customer</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>With Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status_With_Insurer</name>
        <label>Update Case Status - With Insurer</label>
        <locationX>1810</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>With Insurer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Record_Type_Outbound</name>
        <label>Check Case Record Type - Outbound</label>
        <locationX>1612</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Claims</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status_Claims</targetReference>
            </connector>
            <label>Claims</label>
        </rules>
        <rules>
            <name>Customer_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Waiting_on_Customer</targetReference>
            </connector>
            <label>Customer Support</label>
        </rules>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Waiting_on_Partner</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status_Underwriting</targetReference>
            </connector>
            <label>Underwriting</label>
        </rules>
        <rules>
            <name>Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Waiting_on_Customer_Sales</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_Claims</name>
        <label>Check Case Status - Claims</label>
        <locationX>622</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_With_Customer</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the Case Status for inbound Emails</description>
        <name>Check_Case_Status_Inbound</name>
        <label>Check Case Status - Inbound</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Update_Case_Status_Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Questions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FNOL with Insurer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Customer_Replied</targetReference>
            </connector>
            <label>Update Case Status - Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_Underwriting</name>
        <label>Check Case Status - Underwriting</label>
        <locationX>1810</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_Awaiting_Questions</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>With_Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Status_With_Insurer</targetReference>
            </connector>
            <label>With Underwriting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>2327</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Inbound_or_Outbound</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the email is incoming, or outgoing</description>
        <name>Check_if_Inbound_or_Outbound</name>
        <label>Check if Inbound or Outbound</label>
        <locationX>1524</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Status_Inbound</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_First_Response_Milestone</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exit_Milestone</name>
        <label>Exit Milestone?</label>
        <locationX>1612</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Record_Type_Outbound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exit_Milestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Milestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Milestone</targetReference>
            </connector>
            <label>Yes Exit Milestone</label>
        </rules>
    </decisions>
    <description>Record triggered flow when an Email Message is created/updated</description>
    <environments>Default</environments>
    <interviewLabel>Email Message: Create &amp; Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message: Create &amp; Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Milestone</name>
        <label>Get Case Milestone</label>
        <locationX>1612</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exit_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Response_Milestone.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Response_Milestone</name>
        <label>Get First Response Milestone</label>
        <locationX>1612</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Milestone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Response</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1524</locationX>
        <locationY>1631</locationY>
        <inputReference>var_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Milestone</name>
        <label>Update Case Milestone</label>
        <locationX>1480</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Case_Record_Type_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <start>
        <locationX>2201</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
