force-app/main/default/flows/Lead_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Multi_select_to_Collection</name>
        <label>Convert Multi-select to Collection</label>
        <locationX>3779</locationX>
        <locationY>708</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_all_Multi_select</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_Partner_Owner_User</name>
        <label>Send Notification - Partner Owner User</label>
        <locationX>4153</locationX>
        <locationY>4152</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Product_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notification_Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New lead from refer@kingsbridge.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!$Record.Partner__r.Name} has sent a new Lead for {!$Record.FirstName} {!$Record.LastName}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Address_to_Existing_Lead</name>
        <label>Assign Address to Existing Lead</label>
        <locationX>3691</locationX>
        <locationY>4212</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Same_Lead_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Lead_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attribution_Name_Account</name>
        <label>Assign Attribution Name - Account</label>
        <locationX>4384</locationX>
        <locationY>3204</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attribution_Name_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attribution_Name_No_Partner</name>
        <label>Assign Attribution Name - No Partner</label>
        <locationX>4120</locationX>
        <locationY>3204</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attribution_Name_NoPartner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attribution_Name_Person_Account</name>
        <label>Assign Attribution Name - Person Account</label>
        <locationX>4648</locationX>
        <locationY>3204</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attribution_Name_PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Lead Unqualified Date is Greater Than 30 days, assign the new Lead Attribution record created above to the existing Lead and update &apos;Reactive Lead&apos; field on the existing Lead to trigger Omni-Channel on the async path.</description>
        <name>Assign_Attribution_to_Existing_Lead</name>
        <label>Assign Attribution to Existing Lead</label>
        <locationX>3537</locationX>
        <locationY>3828</locationY>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Same_Lead_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Latest_Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Attribution.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Reactivate_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ExistingLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAddress_is_NOT_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attribution_to_Lead</name>
        <label>Assign Attribution to Lead</label>
        <locationX>4285</locationX>
        <locationY>3612</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Latest_Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Attribution.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Introduced_Lead_to_Attribution_2</name>
        <label>Assign Introduced Lead to Attribution - 2</label>
        <locationX>3779</locationX>
        <locationY>6504</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Introduced_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Referred_By_Fields_Lead_NOT_Set_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Main_Lead</name>
        <label>Assign Main Lead</label>
        <locationX>3779</locationX>
        <locationY>6288</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Main_Lead_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Path_Not_Set_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Path_Not_Set_Up</name>
        <label>Assign Path - Not Set Up</label>
        <locationX>3779</locationX>
        <locationY>6396</locationY>
        <assignmentItems>
            <assignToReference>Path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Set Up</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Introduced_Lead_to_Attribution_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Code</name>
        <label>Assign Product Code</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Code.Instanda_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Partner_Owner_User</name>
        <label>Assign Recipient - Partner Owner User</label>
        <locationX>4153</locationX>
        <locationY>4044</locationY>
        <assignmentItems>
            <assignToReference>notification_Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Partner_Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_Partner_Owner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Marked_for_Deletion_Owner</name>
        <label>Assign Value - Marked for Deletion &amp; Owner</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Quarantine_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_1</name>
        <label>Assign values to varAttribution - 1</label>
        <locationX>3988</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Introduction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.AE_Modular_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_Modular_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Opt_Out_of_Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Reason_Products_Unsuitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_Products_Unsuitable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date_not_given__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_By_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referrer_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created by Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_by_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Partner_Type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_2</name>
        <label>Assign values to varAttribution - 2</label>
        <locationX>4252</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Introduction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.AE_Modular_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_Modular_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Opt_Out_of_Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Reason_Products_Unsuitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_Products_Unsuitable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date_not_given__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_By_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referrer_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_by_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Partner_Type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_3</name>
        <label>Assign values to varAttribution - 3</label>
        <locationX>4516</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Introduction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.AE_Modular_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_Modular_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Opt_Out_of_Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Reason_Products_Unsuitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_Products_Unsuitable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date_not_given__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_By_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referrer_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_By_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referrer_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_by_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Partner_Type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_4</name>
        <label>Assign values to varAttribution - 4</label>
        <locationX>4780</locationX>
        <locationY>2904</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Introduction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.AE_Modular_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AE_Modular_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Agency_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Do_Not_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.End_Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Client_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Marketing_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Opt_Out_of_Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Reason_Products_Unsuitable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reason_Products_Unsuitable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Renewal_Date_not_given__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Referred_by_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Partner_Type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_Closed_Opportunity</name>
        <label>Assign values to varAttribution - Closed Opportunity</label>
        <locationX>4384</locationX>
        <locationY>2580</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Closed_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Value_Lead_to_be_deleted_by_Automation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_varAttribution_Open_Opportunity</name>
        <label>Assign values to varAttribution - Open Opportunity</label>
        <locationX>3473</locationX>
        <locationY>5262</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Value_Lead_to_be_deleted_by_Automation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Value_Lead_to_be_deleted_by_Automation</name>
        <label>Copy 1 of Assign Value - Lead to be deleted by Automation</label>
        <locationX>4384</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Lead_to_be_deleted_by_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checked_Referred_By_Fields_Lead_Set_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Value_Lead_to_be_deleted_by_Automation</name>
        <label>Copy 2 of Assign Value - Lead to be deleted by Automation</label>
        <locationX>3473</locationX>
        <locationY>5370</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Lead_to_be_deleted_by_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Checked_Referred_By_Fields_Lead_Set_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_to_Unqualified_and_Reason_Insured_with_Kingsbridge</name>
        <label>Set Lead to Unqualified and Reason Insured with Kingsbridge</label>
        <locationX>3449</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Reason_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insured with Kinsgbridge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Closed_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_to_variable</name>
        <label>Store to variable</label>
        <locationX>4043</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>additionalPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Multi_select</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>additionalPicklistValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Multi_select</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Quarantine_Criteria</name>
        <label>Check for Quarantine Criteria</label>
        <locationX>2178</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Record_for_Current_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Meets_Quarantine_Criteria</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR (3 AND 5) OR (3 AND 6) OR (3 AND 7) OR (3 AND 8) OR (8 AND 9) OR (8 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.IAR_Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email (Consultant)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KPSol BD Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35.io</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>review-carried-out-partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BORDERLINE,FAIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Quarantine_Queue</targetReference>
            </connector>
            <label>Meets Quarantine Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Quarantine_Criteria_Async</name>
        <label>Check for Quarantine Criteria_Async</label>
        <locationX>5280</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Same_Lead_Record_Async</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Meets_Quarantine_Criteria_Async</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) OR (3 AND 5) OR (3 AND 6) OR (3 AND 7) OR (3 AND 8) OR (8 AND 9) OR (8 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__r.IAR_Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email (Consultant)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KPSol BD Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35.io</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>review-carried-out-partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BORDERLINE,FAIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Automation</targetReference>
            </connector>
            <label>Meets Quarantine Criteria_Async</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Lead_exists_as_Customer_Account</name>
        <label>Check If Lead exists as Customer Account</label>
        <locationX>3779</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Get_Same_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Check_If_Lead_exists_as_Customer_Account_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Policy</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_matching_Open_Opportunity_found</name>
        <label>Check if matching Open Opportunity found</label>
        <locationX>3449</locationX>
        <locationY>4938</locationY>
        <defaultConnector>
            <targetReference>Get_Same_Lead_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Product_Types_for_Open_Opps</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Same_Lead_Records_Found_Async</name>
        <label>Check if Same Lead Records Found_Async</label>
        <locationX>5594</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Omni_Channel_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lead Existing</defaultConnectorLabel>
        <rules>
            <name>Lead_Existing_Async</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record_Async</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Lead_needs_Reactivation</targetReference>
            </connector>
            <label>Lead Existing_Async</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_s_any_Closed_Opportunities</name>
        <label>Check if there&apos;s any Closed Opportunities</label>
        <locationX>3581</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Open_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_Check_if_there_s_any_Closed_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Opportunity_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Closed_Opps_Product_Types</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Lead Status is Unqualified and Unqualified Date is NOT blank</description>
        <name>Check_Lead_is_Unqualified</name>
        <label>Check Lead is Unqualified</label>
        <locationX>3823</locationX>
        <locationY>3612</locationY>
        <defaultConnector>
            <targetReference>CheckAddress_is_NOT_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Any other Stage</defaultConnectorLabel>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record.Unqualified_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Unqualified_Date</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Reactivate Lead is True, Unqualified Date is NOT blank and Status = Unqualified</description>
        <name>Check_Lead_needs_Reactivation</name>
        <label>Check Lead needs Reactivation</label>
        <locationX>5429</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Automation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reactivation = False</defaultConnectorLabel>
        <rules>
            <name>Reactivation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record_Async.Unqualified_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record_Async.Reactivate_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Same_Lead_Record_Async.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Unqualified_Date_Async</targetReference>
            </connector>
            <label>Reactivation = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Record_Type</name>
        <label>Check Lead Record Type</label>
        <locationX>2310</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Partner_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Business_BD</targetReference>
            </connector>
            <label>Partner Lead</label>
        </rules>
        <rules>
            <name>Customer_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Quarantine_Criteria</targetReference>
            </connector>
            <label>Customer Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>4285</locationX>
        <locationY>3720</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Product_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>refer_kingsbridge_co_uk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>refer@kingsbridge.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification</targetReference>
            </connector>
            <label>refer@kingsbridge.co.uk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Type_1</name>
        <label>Check Partner Type - 1</label>
        <locationX>4384</locationX>
        <locationY>3096</locationY>
        <defaultConnector>
            <targetReference>Assign_Attribution_Name_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person Account</defaultConnectorLabel>
        <rules>
            <name>No_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_Name_No_Partner</targetReference>
            </connector>
            <label>No Partner</label>
        </rules>
        <rules>
            <name>Account_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_Name_Account</targetReference>
            </connector>
            <label>Account - 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Path</name>
        <label>Check Path</label>
        <locationX>4384</locationX>
        <locationY>3504</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Lead_is_Unqualified</targetReference>
            </connector>
            <label>Set Up</label>
        </rules>
        <rules>
            <name>Not_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Path</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Set Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_to_Lead</targetReference>
            </connector>
            <label>Not Set Up</label>
        </rules>
        <rules>
            <name>Opportunity_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Attribution.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Product_Code</targetReference>
            </connector>
            <label>Opportunity Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Referrer is Account or Lead</description>
        <name>Check_Referred_By_Fields_Lead_NOT_Set_Up</name>
        <label>Check Referred By Fields - Lead NOT Set Up</label>
        <locationX>3779</locationX>
        <locationY>6612</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_values_to_varAttribution_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Referrer</defaultConnectorLabel>
        <rules>
            <name>Referred_by_Lead_Lead_NOT_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referrer_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Referrer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_values_to_varAttribution_1</targetReference>
            </connector>
            <label>Referred by Lead - Lead NOT Set Up</label>
        </rules>
        <rules>
            <name>Referred_by_Account_Lead_NOT_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referrer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Referrer_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_values_to_varAttribution_2</targetReference>
            </connector>
            <label>Referred by Account - Lead NOT Set Up</label>
        </rules>
        <rules>
            <name>Referred_by_Lead_Account_Lead_NOT_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referrer_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Referrer_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_values_to_varAttribution_3</targetReference>
            </connector>
            <label>Referred by Lead &amp; Account - Lead NOT Set Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User</name>
        <label>Check Running User</label>
        <locationX>1048</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User_2</name>
        <label>Check Running User - 2</label>
        <locationX>5221</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Decision_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Integration_User_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User - 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Unqualified Date is Greater Than 30 days.</description>
        <name>Check_Unqualified_Date</name>
        <label>Check Unqualified Date</label>
        <locationX>3669</locationX>
        <locationY>3720</locationY>
        <defaultConnector>
            <targetReference>CheckAddress_is_NOT_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unqualified Date &lt; 30D</defaultConnectorLabel>
        <rules>
            <name>Unqualified_Date_30D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TodayMinus30Days</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Same_Lead_Record.Unqualified_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_to_Existing_Lead</targetReference>
            </connector>
            <label>Unqualified Date &gt; 30D</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Lead Unqualified Date is Greater Than 30 days</description>
        <name>Check_Unqualified_Date_Async</name>
        <label>Check Unqualified Date_Async</label>
        <locationX>5275</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Automation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unqualified Date &lt; 30D</defaultConnectorLabel>
        <rules>
            <name>Unqualified_Date_30D_Async</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today_UnqualifiedDate_Async</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Lead</targetReference>
            </connector>
            <label>Unqualified Date &gt; 30D</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Address fields on the new Lead are not blank</description>
        <name>CheckAddress_is_NOT_Blank</name>
        <label>Check Address is NOT Blank</label>
        <locationX>3823</locationX>
        <locationY>4104</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Lead_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_is_NOT_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Address_to_Existing_Lead</targetReference>
            </connector>
            <label>Address is NOT Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Referrer is Account or Lead</description>
        <name>Checked_Referred_By_Fields_Lead_Set_Up</name>
        <label>Checked Referred By Fields - Lead Set Up</label>
        <locationX>4384</locationX>
        <locationY>2796</locationY>
        <defaultConnector>
            <targetReference>Assign_values_to_varAttribution_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Referrer</defaultConnectorLabel>
        <rules>
            <name>Referred_by_Lead_Lead_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Referrer_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Referred_By_Fields_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_varAttribution_1</targetReference>
            </connector>
            <label>Referred by Lead - Lead Set Up</label>
        </rules>
        <rules>
            <name>Referred_by_Account_Lead_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referred_By_Fields_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Referrer_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_varAttribution_2</targetReference>
            </connector>
            <label>Referred by Account - Lead Set Up</label>
        </rules>
        <rules>
            <name>Referred_by_Lead_Account_Lead_Set_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referred_By_Fields_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Referrer_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_varAttribution_3</targetReference>
            </connector>
            <label>Referred by Lead &amp; Account - Lead Set Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Opp_has_the_same_Product_Type</name>
        <label>Closed Opp has the same Product Type?</label>
        <locationX>4796</locationX>
        <locationY>2256</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Closed_Opps_Product_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed_Opp_has_the_same_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Opportunity_Record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Closed_Opps_Product_Types</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Referrer_Lead</targetReference>
            </connector>
            <label>Yes, Closed Opp has the same Product Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Text_is_Existing_Product_Type</name>
        <label>Current Text is Existing Product Type?</label>
        <locationX>3955</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Store_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record_for_Current_Text.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Multi_select</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Multi_select</targetReference>
            </connector>
            <label>Existing Product Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_12</name>
        <label>Async Record Type</label>
        <locationX>5739</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Lead_Source_Automation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sync_Customer_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Quarantine_Criteria_Async</targetReference>
            </connector>
            <label>Sync Customer_Lead</label>
        </rules>
        <rules>
            <name>Async_Partner_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Automation</targetReference>
            </connector>
            <label>Async Partner_Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Policy</name>
        <label>Found Existing Policy?</label>
        <locationX>3581</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Get_Closed_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Existing_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Policy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_to_Unqualified_and_Reason_Insured_with_Kingsbridge</targetReference>
            </connector>
            <label>Yes - Found Existing Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Partner_Account</name>
        <label>Has Partner Account?</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Partner_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_to_Account_Owner</targetReference>
            </connector>
            <label>Yes - Has Partner Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_Contains_Open_Opp</name>
        <label>Product Type Contains Open Opp</label>
        <locationX>3605</locationX>
        <locationY>5154</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Product_Types_for_Open_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type_Contains_Open_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity_Record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Product_Types_for_Open_Opps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_varAttribution_Open_Opportunity</targetReference>
            </connector>
            <label>Yes, Product Type Contains Open Opp</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Lead (Contractor) is created</description>
    <environments>Default</environments>
    <formulas>
        <name>Today_UnqualifiedDate</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!Get_Same_Lead_Record.Unqualified_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today_UnqualifiedDate_Async</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!Get_Same_Lead_Record_Async.Unqualified_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TodayMinus30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <interviewLabel>Lead: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Create</label>
    <loops>
        <name>Loop_through_all_Closed_Opps_Product_Types</name>
        <label>Loop through all Closed Opps Product Types</label>
        <locationX>3449</locationX>
        <locationY>2148</locationY>
        <collectionReference>Convert_Multi_select_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Closed_Opp_has_the_same_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Open_Opportunity_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Multi_select</name>
        <label>Loop through all Multi-select</label>
        <locationX>3779</locationX>
        <locationY>816</locationY>
        <collectionReference>Convert_Multi_select_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Text_is_Existing_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Product_Types_for_Open_Opps</name>
        <label>Loop through all Product Types for Open Opps</label>
        <locationX>3385</locationX>
        <locationY>5046</locationY>
        <collectionReference>Convert_Multi_select_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Type_Contains_Open_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Same_Lead_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attribution</name>
        <label>Create Attribution</label>
        <locationX>4384</locationX>
        <locationY>3396</locationY>
        <connector>
            <targetReference>Check_Path</targetReference>
        </connector>
        <inputReference>var_Attribution</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Referrer Lead named on the Triggering Lead record</description>
        <name>Copy_1_of_Get_Referrer_Lead</name>
        <label>Get Referred By Fields Lead</label>
        <locationX>4384</locationX>
        <locationY>2364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referred_By_Fields_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referred_By_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>3779</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Lead_exists_as_Customer_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Closed_Opportunity_Record</name>
        <label>Get Closed Opportunity Record</label>
        <locationX>3581</locationX>
        <locationY>1932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_s_any_Closed_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastStageChangeInDays</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>4153</locationX>
        <locationY>3828</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Policy</name>
        <label>Get Existing Policy</label>
        <locationX>3581</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Policy</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT(3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Convert_Multi_select_to_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>IR35</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Quarantine_Queue</name>
        <label>Get Lead Quarantine Queue</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_Marked_for_Deletion_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead_Quarantine_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead records that is already set up in SF</description>
        <name>Get_Lead_Record_for_Current_Text</name>
        <label>Get Lead Record for Current Text</label>
        <locationX>3779</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Multi_select_to_Collection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR (7 AND 8) OR 9 OR 10)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unqualified_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus30Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Working_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus30Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Business_BD</name>
        <label>Get New Business - BD</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Partner_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business - BD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunity_Record</name>
        <label>Get Open Opportunity Record</label>
        <locationX>3449</locationX>
        <locationY>4830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_matching_Open_Opportunity_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Owner</name>
        <label>Get Partner Owner</label>
        <locationX>4153</locationX>
        <locationY>3936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Partner_Owner_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__r.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Code</name>
        <label>Get Product Code</label>
        <locationX>578</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Code__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Referrer Account named on the Triggering Lead record</description>
        <name>Get_Referred_By_Fields_Account</name>
        <label>Get Referred By Fields Account</label>
        <locationX>4384</locationX>
        <locationY>2472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_varAttribution_Closed_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referred_By_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Referrer Account named on the Triggering Lead record</description>
        <name>Get_Referrer_Account</name>
        <label>Get Referrer Account</label>
        <locationX>3779</locationX>
        <locationY>6072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referrer_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referred_By_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Referrer Lead named on the Triggering Lead record</description>
        <name>Get_Referrer_Lead</name>
        <label>Get Referrer Lead</label>
        <locationX>3779</locationX>
        <locationY>6180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Main_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Referred_By_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead records that is already set up in SF</description>
        <name>Get_Same_Lead_Record</name>
        <label>Get Same Lead Record</label>
        <locationX>3779</locationX>
        <locationY>5964</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referrer_Account</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR (7 AND 8) OR 9 OR 10)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unqualified_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus30Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Working_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>TodayMinus30Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead records that is already set up in SF</description>
        <name>Get_Same_Lead_Record_Async</name>
        <label>Get Same Lead Record Async</label>
        <locationX>5594</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Same_Lead_Records_Found_Async</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_New_Business_BD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_to_Account_Owner</name>
        <label>Update Case Owner to Account Owner</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Partner__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Existing Lead Status &amp; Reactive Lead to False</description>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>5143</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Omni_Channel_Subflow2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Same_Lead_Record_Async.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reactivate_Lead__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Existing Lead record with data from new Lead</description>
        <name>Update_Existing_Lead_record</name>
        <label>Update Existing Lead record</label>
        <locationX>3823</locationX>
        <locationY>4404</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Product_Code</targetReference>
        </connector>
        <inputReference>var_ExistingLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>578</locationX>
        <locationY>1032</locationY>
        <inputReference>var_Lead</inputReference>
    </recordUpdates>
    <start>
        <locationX>3008</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Running_User</targetReference>
        </connector>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false &amp;&amp;
{!$User.Alias} != &apos;guest&apos;</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Running_User_2</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Lead_Source_Automation</name>
        <label>Lead - Source Automation</label>
        <locationX>5739</locationX>
        <locationY>1668</locationY>
        <flowName>Lead_Source_Auto_launched</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Omni_Channel_Subflow</name>
        <label>Omni-Channel Subflow</label>
        <locationX>5759</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Lead_Source_Automation</targetReference>
        </connector>
        <flowName>Lead_Omni_Channel_Subflow</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Omni_Channel_Subflow2</name>
        <label>Omni-Channel Subflow</label>
        <locationX>5143</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Lead_Source_Automation</targetReference>
        </connector>
        <flowName>Lead_Omni_Channel_Subflow</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>Get_Same_Lead_Record_Async</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Same_Lead_Record_Async.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Attribution_Name_Account</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.FirstName} {!$Record.LastName} - {!$Record.Partner__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Attribution_Name_NoPartner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>Attribution_Name_PersonAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.FirstName} {!$Record.LastName} - {!$Record.Partner__r.FirstName} {!$Record.Partner__r.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>Lead_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Partner Lead for {!$Record.FirstName} {!$Record.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>notificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new Partner Lead has been created for {!$Record.Company}</text>
    </textTemplates>
    <variables>
        <name>additionalPicklistValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notification_Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Path</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Attribution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>var_ExistingLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
