force-app/main/default/flows/Lead_Remove_from_Sales_Cadence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Target_from_Cadence</name>
        <label>Remove Target from Cadence</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Active_Cadence_Tracker_Found</name>
        <label>(Non Guest User) Check Active Cadence Tracker Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Active Cadence Tracker</defaultConnectorLabel>
        <rules>
            <name>Active_Cadence_Tracker_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Target_from_Cadence</targetReference>
            </connector>
            <label>Active Cadence Tracker Found</label>
        </rules>
    </decisions>
    <description>Autolaunched flow to remove the lead from Sales Cadence</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Remove from Sales Cadence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Remove from Sales Cadence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker</name>
        <label>Get Active Cadence Tracker</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Cadence_Tracker_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Cadence_Tracker</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
