force-app/main/default/flows/Lead_Source_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Triggering_Lead_Product_Type</name>
        <label>Convert Triggering Lead Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_with_the_same_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>STEP_6_Convert_Duplicate_Lead_s_Product_Type</name>
        <label>STEP 6: Convert Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>STEP_8_Convert_Duplicate_Lead_s_Product_Type</name>
        <label>STEP 8: Convert Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Found_Lead_with_Same_Email_with_same_Product_Type</name>
        <label>STEP 6: Found Lead with Same Email with same Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundLeadWithSameEmailAndProductType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STEP_6_Store_Triggering_Lead_s_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_2_Store_Policy_to_Collection</name>
        <label>STEP 2: Store Policy to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step2SamePolicy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Policies_with_the_same_Customer_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Policies_with_the_same_Customer_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_3_4_Assign_Source_Variables</name>
        <label>STEP 3/4: Assign Source Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSource.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STEP_3_4_Loop_through_all_Lead_Source_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>step3DuplicateOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STEP_3_4_Loop_through_all_Lead_Source_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_3_Store_Duplicate_Opportunity</name>
        <label>STEP 3: Store Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step3DuplicateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STEP_3_Loop_through_all_Triggering_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_4_Store_Duplicate_Opportunity</name>
        <label>STEP 4: Store Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step3DuplicateOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STEP_4_Loop_through_all_Open_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>STEP_4_Loop_through_all_Triggering_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_6_Store_Duplicate_Lead_s_Product_Type</name>
        <label>STEP 6: Store Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_6_Store_Triggering_Lead_s_Product_Type</name>
        <label>STEP 6: Store Triggering Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>STEP_8_Store_Duplicate_Lead_s_Product_Type</name>
        <label>STEP 8: Store Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>step6NewProductTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>STEP 1: Found Account with same email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_with_the_same_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Account_with_same_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_with_the_same_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_2_Get_Live_Policy_with_the_same_Customer_Email</targetReference>
            </connector>
            <label>Yes, Found Account with same email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_Lead_with_the_same_email</name>
        <label>STEP 5: Found the Lead with the same email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_the_Lead_with_the_same_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</targetReference>
            </connector>
            <label>Yes, Found the Lead with the same email</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_2_Found_Duplicate_Policy_with_same_Product_Type</name>
        <label>STEP 2: Found Duplicate Policy with same Product Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Lost_Opportunity_within_30_days_with_the_same_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Duplicate_Policy_with_same_Product_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>step2SamePolicy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_to_Unqualified</targetReference>
            </connector>
            <label>Yes, Found Duplicate Policy with same Product Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_2_Found_Policy_with_the_same_Customer_Email</name>
        <label>STEP 2: Found Policy with the same Customer Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Lost_Opportunity_within_30_days_with_the_same_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Policy_with_the_same_Customer_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STEP_2_Get_Live_Policy_with_the_same_Customer_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Policies_with_the_same_Customer_Email</targetReference>
            </connector>
            <label>Yes, Found Policy with the same Customer Email?</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_2_Triggering_Product_Type_Contains_Policy_Product</name>
        <label>STEP 2: Triggering Product Type Contains Policy Product?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Policies_with_the_same_Customer_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_STEP_2_Triggering_Product_Type_Contains_Policy_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Policies_with_the_same_Customer_Email.Product_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_2_Store_Policy_to_Collection</targetReference>
            </connector>
            <label>Yes, STEP 2: Triggering Product Type Contains Policy Product?</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_4_Found_Lead_Source_Record</name>
        <label>STEP 3/4: Found Lead Source Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_3_Create_Source1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lead_Source_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STEP_3_4_Get_Lead_Source_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_4_Loop_through_all_Lead_Source_Records</targetReference>
            </connector>
            <label>Yes, Found Lead Source Record?</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_4_Guest_User</name>
        <label>STEP 3/4: Guest User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_3_4_Delete_Triggering_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_guest_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_Mark_Lead_as_Duplicate</targetReference>
            </connector>
            <label>Yes, guest user</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_4_Same_Product_Grouping</name>
        <label>STEP 3/4: Same Product Grouping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_3_4_Guest_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_4_Get_Lead_Source_Records</targetReference>
            </connector>
            <label>Yes, Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_Found_Duplicate_Opportunity</name>
        <label>STEP 3: Found Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>STEP_4_Get_Open_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Duplicate_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>step3DuplicateOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_4_Set_Duplicate_Opportunity_to_Qualification</targetReference>
            </connector>
            <label>Yes, Found Duplicate Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_Found_Lost_Opportunity_within_30_days</name>
        <label>STEP 3: Found Lost Opportunity within 30 days?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_4_Get_Open_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lost_Opportunity_within_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lost_Opportunity_within_30_days_with_the_same_Product_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type</targetReference>
            </connector>
            <label>Yes, Found Lost Opportunity within 30 days</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_3_Opportunity_has_same_Product_Type_as_Triggering_Lead</name>
        <label>STEP 3: Opportunity has same Product Type as Triggering Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_3_Loop_through_all_Triggering_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_Opportunity_has_same_Product_Type_as_Triggering_Lead</name>
            <conditionLogic>1 OR ((2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>STEP_3_Loop_through_all_Triggering_Product_Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_3_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_Store_Duplicate_Opportunity</targetReference>
            </connector>
            <label>Yes, Opportunity has same Product Type as Triggering Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_4_Found_Duplicate_Opportunity</name>
        <label>STEP 4: Found Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Found_Duplicate_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>step3DuplicateOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_3_4_Set_Duplicate_Opportunity_to_Qualification</targetReference>
            </connector>
            <label>Yes, Found Duplicate Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_4_Found_Open_Opportunity</name>
        <label>STEP 4: Found Open Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Lead_with_the_same_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Open_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STEP_4_Get_Open_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_4_Loop_through_all_Open_Opps</targetReference>
            </connector>
            <label>Yes, Found Open Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_4_Opportunity_has_same_Product_Type_as_Triggering_Lead</name>
        <label>STEP 4: Opportunity has same Product Type as Triggering Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_4_Loop_through_all_Triggering_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_has_same_Product_Type_as_Triggering_Lead1</name>
            <conditionLogic>1 OR ((2 OR  3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Open_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>STEP_4_Loop_through_all_Triggering_Product_Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Open_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Open_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Open_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Open_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STEP_4_Loop_through_all_Triggering_Product_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_4_Store_Duplicate_Opportunity</targetReference>
            </connector>
            <label>Yes, Opportunity has same Product Type as Triggering Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_6_Found_Lead_with_the_Same_Email_and_Product_Type</name>
        <label>STEP 6: Found Lead with the Same Email and Product Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lead_with_the_Same_Email_and_Product_Type_Unqualified_within_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Unqualified_Date_is_within_30_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foundLeadWithSameEmailAndProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_6_Convert_Duplicate_Lead_s_Product_Type</targetReference>
            </connector>
            <label>Yes, Found Lead with the Same Email and Product Type (Unqualified within 30 Days)</label>
        </rules>
        <rules>
            <name>Yes_Found_Lead_with_the_Same_Email_and_Product_Type_Not_Unqualified_and_Qualifie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>foundLeadWithSameEmailAndProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_8_Convert_Duplicate_Lead_s_Product_Type</targetReference>
            </connector>
            <label>Yes, Found Lead with the Same Email and Product Type (Not Unqualified and Qualified)</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_6_Guest_User</name>
        <label>STEP 6: Guest User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_6_Delete_Triggering_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_guest_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_6_Set_Triggering_Lead_to_be_Deleted_by_Automation</targetReference>
            </connector>
            <label>Yes, guest user</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_6_Owned_by_Queue</name>
        <label>STEP 6: Owned by Queue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_6_Get_ActionCadence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owned_by_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <label>Yes, Owned by Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_6_Product_Type_already_exist</name>
        <label>STEP 6: Product Type already exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_6_Store_Duplicate_Lead_s_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type_already_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>step6NewProductTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
            </connector>
            <label>Yes, Product Type already exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_8_Guest_User</name>
        <label>STEP 8: Guest User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_8_Delete_Triggering_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_guest_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STEP_8_Set_Triggering_Lead_to_be_Deleted_by_Automation</targetReference>
            </connector>
            <label>Yes, guest user</label>
        </rules>
    </decisions>
    <decisions>
        <name>STEP_8_Product_Type_already_exist</name>
        <label>STEP 8: Product Type already exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_8_Store_Duplicate_Lead_s_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type_already_exist_Step_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>step6NewProductTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</targetReference>
            </connector>
            <label>Yes, Product Type already exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Product_Type_Contains_Lead_with_Same_Email</name>
        <label>STEP 6: Triggering Product Type Contains Lead with Same Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>STEP_6_Store_Triggering_Lead_s_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Triggering_Product_Type_Contains_Lead_with_Same_Email</name>
            <conditionLogic>1 OR ((2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_Email.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Direct Professions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Buying Journey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Lead_with_Same_Email_with_same_Product_Type</targetReference>
            </connector>
            <label>Yes, Triggering Product Type Contains Lead with Same Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordName</name>
        <dataType>String</dataType>
        <expression>{!record.FirstName}&amp;&quot; &quot;&amp;{!record.LastName}</expression>
    </formulas>
    <interviewLabel>Lead - Source (Auto-launched) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Source (Auto-launched)</label>
    <loops>
        <name>Loop_through_all_Policies_with_the_same_Customer_Email</name>
        <label>STEP 2: Loop through all Policies with the same Customer Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>STEP_2_Get_Live_Policy_with_the_same_Customer_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_2_Triggering_Product_Type_Contains_Policy_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_2_Found_Duplicate_Policy_with_same_Product_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Triggering_Product_Type_for_Lead_with_same_email</name>
        <label>STEP 6: Loop through all Triggering Product Type for Lead with same email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Triggering_Lead_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Triggering_Product_Type_Contains_Lead_with_Same_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_6_Found_Lead_with_the_Same_Email_and_Product_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>STEP_3_4_Loop_through_all_Lead_Source_Records</name>
        <label>STEP 3/4: Loop through all Lead Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>STEP_3_4_Get_Lead_Source_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_3_4_Assign_Source_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Source_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>STEP_3_Loop_through_all_Lost_Opps_Product_Type</name>
        <label>STEP 3: Loop through all Lost Opps Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Lost_Opportunity_within_30_days_with_the_same_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_3_Loop_through_all_Triggering_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_3_Found_Duplicate_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>STEP_3_Loop_through_all_Triggering_Product_Type</name>
        <label>STEP 3: Loop through all Triggering Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Triggering_Lead_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_3_Opportunity_has_same_Product_Type_as_Triggering_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_3_Loop_through_all_Lost_Opps_Product_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>STEP_4_Loop_through_all_Open_Opps</name>
        <label>STEP 4: Loop through all Open Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>STEP_4_Get_Open_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_4_Loop_through_all_Triggering_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_4_Found_Duplicate_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>STEP_4_Loop_through_all_Triggering_Product_Type</name>
        <label>STEP 4: Loop through all Triggering Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Triggering_Lead_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_4_Opportunity_has_same_Product_Type_as_Triggering_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_4_Loop_through_all_Open_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Step_6_Loop_through_all_Duplicate_Lead_s_Product_Type</name>
        <label>Step: 6 Loop through all Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>STEP_6_Convert_Duplicate_Lead_s_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_6_Product_Type_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_6_Update_the_Product_Type_of_Duplicate_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Step_8_Loop_through_all_Duplicate_Lead_s_Product_Type</name>
        <label>Step 8: Loop through all Duplicate Lead&apos;s Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>STEP_8_Convert_Duplicate_Lead_s_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>STEP_8_Product_Type_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>STEP_8_Update_the_Product_Type_of_Duplicate_Lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>STEP_3_Create_Source1</name>
        <label>STEP 3/4: Create Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_3_4_Guest_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>step3DuplicateOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>record.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Lead__c</field>
            <value>
                <elementReference>record.Referred_By_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Partner_Contact__c</field>
            <value>
                <elementReference>record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>STEP_6_Create_Source</name>
        <label>STEP 6: Create Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_6_Guest_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Introduced_Lead__c</field>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Email__c</field>
            <value>
                <elementReference>record.Referral_Friend_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>record.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>record.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Lead__c</field>
            <value>
                <elementReference>record.Referred_By_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Partner_Contact__c</field>
            <value>
                <elementReference>record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>STEP_8_Create_Source</name>
        <label>STEP 8: Create Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_8_Guest_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Introduced_Lead__c</field>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Email__c</field>
            <value>
                <elementReference>record.Referral_Friend_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>record.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>record.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Lead__c</field>
            <value>
                <elementReference>record.Referred_By_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Partner_Contact__c</field>
            <value>
                <elementReference>record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>STEP_3_4_Delete_Triggering_Lead</name>
        <label>STEP 3/4: Delete Triggering Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>STEP_6_Delete_Triggering_Lead</name>
        <label>STEP 6: Delete Triggering Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_6_Owned_by_Queue</targetReference>
        </connector>
        <inputReference>record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>STEP_8_Delete_Triggering_Lead</name>
        <label>STEP 8: Delete Triggering Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_with_the_same_email</name>
        <label>STEP 1: Get Account with the same email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_with_the_same_Email</name>
        <label>STEP 5: Get Lead with the same Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_Lead_with_the_same_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lost_Opportunity_within_30_days_with_the_same_Product_Type</name>
        <label>STEP 3: Get Lost Opportunity within 30 days with the same Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STEP_3_Found_Lost_Opportunity_within_30_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_with_the_same_email.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_since_Closed_Lost__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>STEP_2_Get_Live_Policy_with_the_same_Customer_Email</name>
        <label>STEP 2: Get Live Policy with the same Customer Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STEP_2_Found_Policy_with_the_same_Customer_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_with_the_same_email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>STEP_3_4_Get_Lead_Source_Records</name>
        <label>STEP 3/4: Get Lead Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STEP_3_4_Found_Lead_Source_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>STEP_4_Get_Open_Opportunity</name>
        <label>STEP 4: Get Open Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STEP_4_Found_Open_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_with_the_same_email.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>STEP_6_Get_ActionCadence</name>
        <label>STEP 6: Get ActionCadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Contact Cadence 2.0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>STEP_3_4_Set_Duplicate_Opportunity_to_Qualification</name>
        <label>STEP 3/4: Set Duplicate Opportunity to Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_3_4_Same_Product_Grouping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>step3DuplicateOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>STEP_3_Mark_Lead_as_Duplicate</name>
        <label>STEP 3/4: Mark Lead as Duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_to_be_deleted_by_automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>STEP_6_Set_Triggering_Lead_to_be_Deleted_by_Automation</name>
        <label>STEP 6: Set Triggering Lead to be Deleted by Automation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_6_Owned_by_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_to_be_deleted_by_automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>STEP_6_Update_the_Product_Type_of_Duplicate_Lead</name>
        <label>STEP 6: Update the Product Type of Duplicate Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_6_Create_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>step6NewProductTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>STEP_8_Set_Triggering_Lead_to_be_Deleted_by_Automation</name>
        <label>STEP 8: Set Triggering Lead to be Deleted by Automation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_to_be_deleted_by_automation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>STEP_8_Update_the_Product_Type_of_Duplicate_Lead</name>
        <label>STEP 8: Update the Product Type of Duplicate Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_8_Create_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_with_the_same_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>step6NewProductTypes</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_to_Unqualified</name>
        <label>STEP 2: Update Lead to Unqualified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Lost__c</field>
            <value>
                <stringValue>Insured with Kinsgbridge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Source_Records</name>
        <label>Update Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STEP_3_4_Guest_User</targetReference>
        </connector>
        <inputReference>colSource</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Triggering_Lead_Product_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>foundLeadWithSameEmailAndProductType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>step2SamePolicy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>step3DuplicateOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>step6NewProductTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
</Flow>
