force-app/main/default/flows/Lead_Duplicate_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Multi_select_to_Collection</name>
        <label>Convert Multi-select to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_all_Product_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Attribution_Variables</name>
        <label>Assign Attribution Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAttr.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Same_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Introduction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.AE_Modular_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.AE_Modular_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Agency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Agency_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Agency_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Agency_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Do_Not_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Do_Not_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.End_Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.End_Client_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.End_Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.End_Client_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Marketing_Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Marketing_Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Opt_Out_of_Marketing_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Partner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Partner_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Renewal_Date_not_given__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Referred_by_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Occupation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Occupation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAttr.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Variables</name>
        <label>Assign Lead Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.Lead_to_be_deleted_by_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Same_Opp</name>
        <label>Found Same Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Same_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Multi_select_to_Collection</targetReference>
            </connector>
            <label>Yes, Found Same Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Product_Type_as_Opp</name>
        <label>Same Product Type as Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_Product_Type_as_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Same_Opp.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_Product_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_Variables</targetReference>
            </connector>
            <label>Yes, Same Product Type as Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead: Duplicate Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Duplicate Logic</label>
    <loops>
        <name>Loop_through_all_Product_Type</name>
        <label>Loop through all Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Multi_select_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Product_Type_as_Opp</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attribution</name>
        <label>Create Attribution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <inputReference>varAttr</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Same_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Same_Opp</name>
        <label>Get Same Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Same_Opp</targetReference>
        </connector>
        <filterLogic>((1 AND 3) OR 4) AND 2 AND 5</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastStageChangeInDays</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varAttr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
