force-app/main/default/flows/Lead_Create_Attribution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Attribution_Name</name>
        <label>Assign Attribution Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>attName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attribution_Name_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attribution_Name1</name>
        <label>Assign Attribution Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>attName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attribution_Name_PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Attribution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Partner Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Attribution_Name1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person Account</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Partner__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Attribution_Name</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <description>Added Referral Friend Name and Referral Friend Email Fields to creating Attribution.</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Create Attribution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Create Attribution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attribution</name>
        <label>Create Attribution</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Attribution_to_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Modular_Lead__c</field>
            <value>
                <elementReference>record.AE_Modular_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Contact__c</field>
            <value>
                <elementReference>record.Agency_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency_Name__c</field>
            <value>
                <elementReference>record.Agency_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>County__c</field>
            <value>
                <elementReference>record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Email__c</field>
            <value>
                <elementReference>record.Do_Not_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Client_Contact__c</field>
            <value>
                <elementReference>record.End_Client_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Client_Email__c</field>
            <value>
                <elementReference>record.End_Client_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Client__c</field>
            <value>
                <elementReference>record.End_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>record.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Introduced_Lead__c</field>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Introduction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Name__c</field>
            <value>
                <elementReference>Lead_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Consent__c</field>
            <value>
                <elementReference>record.Marketing_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>attName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>record.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Marketing_SMS__c</field>
            <value>
                <elementReference>record.Opt_Out_of_Marketing_SMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_ID__c</field>
            <value>
                <elementReference>record.Partner_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Products_Unsuitable__c</field>
            <value>
                <elementReference>record.Reason_Products_Unsuitable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Email__c</field>
            <value>
                <elementReference>record.Referral_Friend_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>record.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Account__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Partner_Contact__c</field>
            <value>
                <elementReference>record.Referred_by_Partner_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>record.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date_not_given__c</field>
            <value>
                <elementReference>record.Renewal_Date_not_Given__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>record.Title</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Assign_Attribution_to_Lead</name>
        <label>Assign Attribution to Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Attribution__c</field>
            <value>
                <elementReference>Create_Attribution</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Attribution_Name_Account</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!record.FirstName} {!record.LastName} - {!record.Partner__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Attribution_Name_PersonAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!record.FirstName} {!record.LastName} - {!record.Partner__r.FirstName} {!record.Partner__r.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>Lead_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!record.FirstName} {!record.LastName}</text>
    </textTemplates>
    <variables>
        <name>attName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
