force-app/main/default/flows/Lead_Update_Add_to_Cadence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Assign the Lead to Initial Contact Cadence</description>
        <name>Add_Lead_to_Cadence</name>
        <label>Add Lead to Cadence</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <actionName>assignTargetToSalesCadence</actionName>
        <actionType>assignTargetToSalesCadence</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesCadenceNameOrId</name>
            <value>
                <elementReference>Get_ActionCadence.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignTargetToSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMnUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrimarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVO</stringValue>
        </value>
    </constants>
    <constants>
        <name>SecondarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_User_Have_Access</name>
        <label>Does User Have Access</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserRecordAccessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_to_Cadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_Permission</name>
        <label>Does User Have Permission?</label>
        <locationX>611</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ActionCadence</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether &apos;Initial Contact Cadence&apos; record was found?</description>
        <name>Found_Cadence</name>
        <label>Found Cadence?</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ActionCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Cadence_Access</targetReference>
            </connector>
            <label>Yes Found Cadence</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Lead was already assigned to the Cadence</description>
        <name>Lead_already_assigned_to_Cadence</name>
        <label>Lead already assigned to Cadence?</label>
        <locationX>858</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_is_NOT_assigned_to_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionCadenceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCadenceId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Engagement_Cadence_Creator_Included_Permission_Set</targetReference>
            </connector>
            <label>Lead is NOT assigned to Cadence</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead: Update - Add to Cadence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update - Add to Cadence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get  the &apos;Initial Contact Cadence&apos; record.</description>
        <name>Get_ActionCadence</name>
        <label>Get ActionCadence</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Contact Cadence 2.0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Cadence</name>
        <label>Get Lead Cadence</label>
        <locationX>858</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_already_assigned_to_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Contact Cadence 2.0</stringValue>
            </value>
        </filters>
        <object>ActionCadence</object>
        <outputAssignments>
            <assignToReference>varCadenceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>611</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Permission</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HighVelocitySalesCadenceCreatorIncluded</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HighVelocitySalesQuickCadenceCreatorIncluded</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Engagement_Cadence_Creator_Included_Permission_Set</name>
        <label>Get Sales Engagement Cadence Creator Included Permission Set</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Engagement_Quick_Cadence_Creator_Included_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HighVelocitySalesCadenceCreatorIncluded</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>HighVelocitySalesCadenceCreatorIncluded</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Engagement_Quick_Cadence_Creator_Included_Permission_Set</name>
        <label>Get Sales Engagement Quick Cadence Creator Included Permission Set</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HighVelocitySalesQuickCadenceCreatorIncluded</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>HighVelocitySalesQuickCadenceCreatorIncluded</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the user record access record with a UserId matching the OwnerId of the triggering record, with a RecordId that matches the ActionCadenceId of Cadence from GetCadenceId; and with HasReadAccess set to True. Stores the RecordId of the returned record in CadenceAccessRecordId.</description>
        <name>Get_User_Cadence_Access</name>
        <label>Get User Cadence Access</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ActionCadence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasReadAccess</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserRecordAccess</object>
        <outputAssignments>
            <assignToReference>UserRecordAccessId</assignToReference>
            <field>RecordId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Cadence</targetReference>
        </connector>
        <filterFormula>AND(
{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false,
ISCHANGED ({!$Record.Status}),
ISPICKVAL({!$Record.Status},  &apos;Working&apos;)
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HighVelocitySalesCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighVelocitySalesQuickCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecordAccessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCadenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
