force-app/main/default/flows/Lead_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Target_from_Cadence</name>
        <label>Remove Target from Cadence</label>
        <locationX>754</locationX>
        <locationY>2795</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Assign_Unqualified_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Remove_Target_from_Cadence1</name>
        <label>Remove Target from Cadence</label>
        <locationX>369</locationX>
        <locationY>1763</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Omni_Channel_Subflow</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Remove_Target_from_Cadence_Converted</name>
        <label>Remove Target from Cadence Converted</label>
        <locationX>138</locationX>
        <locationY>2687</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Check_Lead_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_Lead_Product_Code</name>
        <label>Assign new Lead Product Code</label>
        <locationX>501</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Code.Instanda_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Lead_is_Converted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unqualified_Date</name>
        <label>Assign Unqualified Date</label>
        <locationX>886</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>var_Lead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Lead.Unqualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>var_Lead_has_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the convertedAccountId into the variable</description>
        <name>Assign_values_to_var_Attribution_Introduced</name>
        <label>Assign values to var_Attribution - Introduced</label>
        <locationX>138</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution_Introduced.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Attribution_Introduced.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution_Introduced.Introduced_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution_Introduced.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_Attribution_to_Collection_Introduced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the convertedAccountId into the variable</description>
        <name>Assign_values_to_var_Attribution_Referred</name>
        <label>Assign values to var_Attribution - Referred</label>
        <locationX>358</locationX>
        <locationY>4319</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution_Referred.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Attribution_Referred.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution_Referred.Referred_By_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_Attribution_to_Collection_Referred</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the variables into a collection to update all at once.</description>
        <name>Assign_var_Attribution_to_Collection_Introduced</name>
        <label>Assign var_Attribution to Collection - Introduced</label>
        <locationX>138</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>col_Attribution_Introduced</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Attribution_Introduced</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Attribution_Introduced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the variables into a collection to update all at once.</description>
        <name>Assign_var_Attribution_to_Collection_Referred</name>
        <label>Assign var_Attribution to Collection - Referred</label>
        <locationX>358</locationX>
        <locationY>4427</locationY>
        <assignmentItems>
            <assignToReference>col_Attribution_Referred</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Attribution_Referred</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Attribution_Referred</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loop_through_all_related_Attr</name>
        <label>Loop through all related Attr</label>
        <locationX>138</locationX>
        <locationY>3827</locationY>
        <assignmentItems>
            <assignToReference>var_Attribution_Introduced.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_related_attribution.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Attribution_Introduced.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Attribution_Introduced</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Attribution_Introduced</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_related_attribution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active_Cadence_Tracker_Found</name>
        <label>Check Active Cadence Tracker Found</label>
        <locationX>886</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Assign_Unqualified_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Cadence Tracker</defaultConnectorLabel>
        <rules>
            <name>Active_Cadence_Tracker_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Target_from_Cadence</targetReference>
            </connector>
            <label>Active Cadence Tracker Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Cadence_Tracker_Found1</name>
        <label>Check Active Cadence Tracker Found</label>
        <locationX>501</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Omni_Channel_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Cadence Tracker</defaultConnectorLabel>
        <rules>
            <name>Active_Cadence_Tracker_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Target_from_Cadence1</targetReference>
            </connector>
            <label>Active Cadence Tracker Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Active_Cadence_Tracker_Found_Converted</name>
        <label>Check Active Cadence Tracker Found Converted</label>
        <locationX>270</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>Check_Lead_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Active Cadence Tracker Converted</defaultConnectorLabel>
        <rules>
            <name>Active_Cadence_Tracker_Found_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Target_from_Cadence_Converted</targetReference>
            </connector>
            <label>Active Cadence Tracker Found Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>567</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User</label>
        </rules>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_is_changed_and_RT_is_Customer</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_is_created</name>
        <label>Check if Account is created</label>
        <locationX>270</locationX>
        <locationY>5027</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opportunity_is_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_converted_Account</targetReference>
            </connector>
            <label>Account is created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Contact_is_created</name>
        <label>Check if Contact is created</label>
        <locationX>270</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_is_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted_Contact</targetReference>
            </connector>
            <label>Contact is created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lead_is_Converted</name>
        <label>Check if Lead is Converted</label>
        <locationX>655</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Check_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Converted</defaultConnectorLabel>
        <rules>
            <name>Lead_is_Converted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Cadence_Tracker_Converted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Lead is Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_created</name>
        <label>Check if Opportunity is created</label>
        <locationX>270</locationX>
        <locationY>5327</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Converted_Opportunity</targetReference>
            </connector>
            <label>Opportunity is created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Record_Type</name>
        <label>Check Lead Record Type</label>
        <locationX>270</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Customer_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead1</targetReference>
            </connector>
            <label>Customer Lead</label>
        </rules>
        <rules>
            <name>Partner_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner_Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Attribution_Referred</targetReference>
            </connector>
            <label>Partner Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1040</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>var_Lead_has_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Cadence_Tracker</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Unqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_related_Source</name>
        <label>Found related Source?</label>
        <locationX>501</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Product_Type_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Referral_Friend_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Source</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Source.Referral_Friend_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Referral_Friend_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Friend_Name_in_Source</targetReference>
            </connector>
            <label>Yes, Update Referral Friend Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_is_changed_and_RT_is_Customer</name>
        <label>Partner is changed and RT is Customer</label>
        <locationX>655</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Referral_Friend_Name_is_not_null_or_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_is_changed_and_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Attribution</targetReference>
            </connector>
            <label>Yes - Partner is changed and Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_is_changed</name>
        <label>Product Type is changed?</label>
        <locationX>655</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Check_if_Lead_is_Converted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Logic</targetReference>
            </connector>
            <label>Yes Product Type is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Friend_Name_is_not_null_or_updated</name>
        <label>Referral Friend Name is not null or updated</label>
        <locationX>655</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Product_Type_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral_Friend_Name</name>
            <conditionLogic>(1 AND 3) OR (1 AND 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Friend_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Friend_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Source</targetReference>
            </connector>
            <label>Referral Friend Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>var_Lead_has_Id</name>
        <label>var Lead has Id?</label>
        <locationX>1040</locationX>
        <locationY>3179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Yes - has Id</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Lead is updated</description>
    <environments>Default</environments>
    <interviewLabel>Lead: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Update</label>
    <loops>
        <name>Loop_Related_Attribution_Introduced</name>
        <label>Loop Related Attribution (Introduced)</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <collectionReference>Get_Related_Attribution_Introduced</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_var_Attribution_Introduced</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Attribution</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Attribution_Referred</name>
        <label>Loop Related Attribution (Referred)</label>
        <locationX>270</locationX>
        <locationY>4211</locationY>
        <collectionReference>Get_Related_Attribution_Referred</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_var_Attribution_Referred</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Attributions_Referred</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_related_attribution</name>
        <label>Loop through all related attribution</label>
        <locationX>50</locationX>
        <locationY>3719</locationY>
        <collectionReference>Get_Related_Attribution</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_all_related_Attr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Related_Attribution_Referred</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker</name>
        <label>Get Active Cadence Tracker</label>
        <locationX>886</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Cadence_Tracker_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker1</name>
        <label>Get Active Cadence Tracker</label>
        <locationX>501</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Cadence_Tracker_Found1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Cadence_Tracker_Converted</name>
        <label>Get Active Cadence Tracker Converted</label>
        <locationX>270</locationX>
        <locationY>2471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active_Cadence_Tracker_Found_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Code</name>
        <label>Get Product Code</label>
        <locationX>501</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_Lead_Product_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Code__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Attribution</name>
        <label>Get Related Attribution</label>
        <locationX>50</locationX>
        <locationY>3611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_related_attribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Introduced_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Attribution_Introduced</name>
        <label>Get Related Attribution (Introduced)</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Attribution_Introduced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Introduced_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Attribution_Referred</name>
        <label>Get Related Attribution (Referred)</label>
        <locationX>270</locationX>
        <locationY>4103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Attribution_Referred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referred_By_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referred_By_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Source</name>
        <label>Get related Source</label>
        <locationX>501</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_related_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_converted_Account</name>
        <label>Update converted Account</label>
        <locationX>138</locationX>
        <locationY>5135</locationY>
        <connector>
            <targetReference>Check_if_Opportunity_is_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_Contact</name>
        <label>Update Converted Contact</label>
        <locationX>138</locationX>
        <locationY>4835</locationY>
        <connector>
            <targetReference>Check_if_Account_is_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Converted_Opportunity</name>
        <label>Update Converted Opportunity</label>
        <locationX>138</locationX>
        <locationY>5435</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>$Record.Referral_Friend_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>908</locationX>
        <locationY>3287</locationY>
        <inputReference>var_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead1</name>
        <label>Update Lead</label>
        <locationX>50</locationX>
        <locationY>2987</locationY>
        <connector>
            <targetReference>Get_Related_Attribution_Introduced</targetReference>
        </connector>
        <inputReference>var_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Friend_Name_in_Source</name>
        <label>Update Referral Friend Name in Source</label>
        <locationX>369</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Product_Type_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Source.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Friend_Email__c</field>
            <value>
                <elementReference>$Record.Referral_Friend_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Attributions_Referred</name>
        <label>Update Related Attributions (Referred)</label>
        <locationX>270</locationX>
        <locationY>4619</locationY>
        <connector>
            <targetReference>Check_if_Contact_is_created</targetReference>
        </connector>
        <inputReference>col_Attribution_Referred</inputReference>
    </recordUpdates>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Attribution</name>
        <label>Create Attribution</label>
        <locationX>523</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Referral_Friend_Name_is_not_null_or_updated</targetReference>
        </connector>
        <flowName>Lead_Create_Attribution</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Duplicate_Logic</name>
        <label>Duplicate Logic</label>
        <locationX>501</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Get_Active_Cadence_Tracker1</targetReference>
        </connector>
        <flowName>Lead_Duplicate_Logic</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Omni_Channel_Subflow</name>
        <label>Omni-Channel Subflow</label>
        <locationX>501</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Get_Product_Code</targetReference>
        </connector>
        <flowName>Lead_Omni_Channel_Subflow</flowName>
        <inputAssignments>
            <name>record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>col_Attribution_Introduced</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>col_Attribution_Referred</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Attribution_Introduced</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>var_Attribution_Referred</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>var_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
