force-app/main/default/flows/Opportunity_Name_and_Add_Product_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Product Type Values to Collection Text variable</description>
        <name>Assign_Product_Type_Values</name>
        <label>Assign Product Type Values</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varProductTypeValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProductType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Opportunity_Name_Close_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Matching_Product_Found</name>
        <label>Matching Product Found?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No Matching Product Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_Product</targetReference>
            </connector>
            <label>Yes: Matching Product Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Type_Selected</name>
        <label>Product Type Selected?</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No Product Type Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Type_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Product</targetReference>
            </connector>
            <label>Yes: Product Type Selected</label>
        </rules>
    </decisions>
    <description>Auto-launched Flow to be called by Opportunity: Create and Lead: Update to name Partner Opportunities and automatically create a Product.</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula to calculate today plus one year to be used as the Opportunities Close Date for Partner Opportunity Record Types.</description>
        <name>fxCalculateCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
YEAR(TODAY()) + 1,
MONTH(TODAY()),
DAY(TODAY())
)</expression>
    </formulas>
    <formulas>
        <description>Formula to create Opportunity Name for Partner Opportunity Record Type to be Account Name plus first Product Type and limit to 120 characters.</description>
        <name>fxOpportunityName</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!varAccountName} &amp; &quot; - &quot; &amp;
SUBSTITUTE(
SUBSTITUTE(
IF(
FIND(&quot;;&quot;, {!varProductTypeValues}) &gt; 0,
LEFT({!varProductTypeValues}, FIND(&quot;;&quot;, {!varProductTypeValues}) - 1),
{!varProductTypeValues}
),
&quot;[&quot;, &quot;&quot;),
&quot;]&quot;, &quot;&quot;),
120
)</expression>
    </formulas>
    <formulas>
        <name>fxProductTypeName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
IF(
FIND(&quot;;&quot;, {!varProductTypeValues}) &gt; 0,
LEFT({!varProductTypeValues}, FIND(&quot;;&quot;, {!varProductTypeValues}) - 1),
{!varProductTypeValues}
),
&quot;[&quot;, &quot;&quot;),
&quot;]&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity: Name and Add Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Name and Add Product (Auto-launched)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Opportunity_Product</name>
        <label>Add Opportunity Product</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Matching_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Matching_Product.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>Get_Matching_Product.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Product</name>
        <label>Get Matching Product</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxProductTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriceBookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Partner Opportunity Name with formula calculation of Account Name and first Product Type. Also update Close Date to one year from today.</description>
        <name>Update_Partner_Opportunity_Name_Close_Date</name>
        <label>Update Partner Opportunity Name &amp; Close Date</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Product_Type_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>fxCalculateCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Product_Type_Values</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection Text variable to store Product Type values</description>
        <name>varProductTypeValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
