force-app/main/default/flows/Opportunity_Line_Item_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Admiral_Trades_scheme</name>
        <label>Add Admiral Trades scheme</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Admiral_Trades_scheme_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Admiral_Trades_scheme_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Admiral_Trades_scheme_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Group_Insurance</name>
        <label>Add Group Insurance</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Group_Insurance_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Group_Insurance_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Group_Insurance_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IR35_Protect_Insurance</name>
        <label>Add IR35 Protect Insurance</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR35_Protect_Insurance_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_IR35_Protect_Insurance_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR35_Protect_Insurance_Product__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IR_35_Health_Check</name>
        <label>Add IR 35 Health Check</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR_35_Health_Check_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_IR_35_Health_Check_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR_35_Health_Check_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IR_35_Tool</name>
        <label>Add IR 35 Tool</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR_35_Tool_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_IR_35_Tool_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_IR_35_Tool_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Off_Payroll_Protect</name>
        <label>Add Off Payroll Protect</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Off_Payroll_Protect_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Off_Payroll_Protect_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Off_Payroll_Protect_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PI_Insurance_Audit</name>
        <label>Add PI Insurance Audit</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_PI_Insurance_Audit_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_PI_Insurance_Audit_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_PI_Insurance_Audit_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Professional_Indemnity</name>
        <label>Add Professional Indemnity</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Professional_Indemnity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Professional_Indemnity_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Professional_Indemnity_Product__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Public_Liability</name>
        <label>Add Public Liability</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_PL_Affinity_Process_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_PL_Affinity_Process_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_PL_Affinity_Process_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Wholesale_Professions</name>
        <label>Add Wholesale Professions</label>
        <locationX>2426</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Wholesale_Professions_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Wholesale_Professions_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Number_of_Wholesale_Professions_Products__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Name</name>
        <label>Check Product Name</label>
        <locationX>1370</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Admiral_Trades_scheme</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admiral Trades scheme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Admiral_Trades_scheme</targetReference>
            </connector>
            <label>Admiral Trades scheme</label>
        </rules>
        <rules>
            <name>IR_35_Health_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR35 Health Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IR_35_Health_Check</targetReference>
            </connector>
            <label>IR35 Health Check</label>
        </rules>
        <rules>
            <name>IR35_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR35 Tool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IR_35_Tool</targetReference>
            </connector>
            <label>IR35 Tool</label>
        </rules>
        <rules>
            <name>Off_Payroll_Protect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off Payroll Protect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Off_Payroll_Protect</targetReference>
            </connector>
            <label>Off Payroll Protect</label>
        </rules>
        <rules>
            <name>Professional_Indemnity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Indemnity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Professional_Indemnity</targetReference>
            </connector>
            <label>Professional Indemnity</label>
        </rules>
        <rules>
            <name>Professional_Indemnity_Insurance_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Indemnity Insurance Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PI_Insurance_Audit</targetReference>
            </connector>
            <label>Professional Indemnity Insurance Audit</label>
        </rules>
        <rules>
            <name>Public_Liability_Affinity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Liability Affinity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Public_Liability</targetReference>
            </connector>
            <label>Public Liability Affinity</label>
        </rules>
        <rules>
            <name>Group_Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Group_Insurance</targetReference>
            </connector>
            <label>Group Insurance</label>
        </rules>
        <rules>
            <name>IR35_Protect_Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IR35 Protect Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IR35_Protect_Insurance</targetReference>
            </connector>
            <label>IR35 Protect Insurance</label>
        </rules>
        <rules>
            <name>Wholesale_Professions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wholesale Professions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Wholesale_Professions</targetReference>
            </connector>
            <label>Wholesale Professions</label>
        </rules>
    </decisions>
    <description>Record triggered flow when an Opportunity Product is created</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Line Item: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Line Item: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1370</locationX>
        <locationY>576</locationY>
        <inputReference>var_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false</filterFormula>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_Product_Name</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
