force-app/main/default/flows/Opportunity_Scheduled_Partner_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Count_of_Opportunities</name>
        <label>Assign Count of Opportunities</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Opportunities_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Tasks_to_Create</name>
        <label>Assign Count of Tasks to Create</label>
        <locationX>182</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>var_Task_Creation_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>col_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Tasks_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_var_Task_1</name>
        <label>Assign values to var_Task_1</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>var_Task_1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please reach out to {!Loop_Opportunities.Account.Name}  to review their IR35 tool and create the Annual Partner Review on tool commercials and usage throughout the year.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_var_Task_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_var_Task_1_2</name>
        <label>Assign values to var_Task_1_2</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>var_Task_1_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please reach out to {!Loop_Opportunities.Account.Name}  to review their IR35 tool and create the Annual Partner Review on tool commercials and usage throughout the year.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_1_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varTask_1_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_var_Task_2</name>
        <label>Assign values to var_Task_2</label>
        <locationX>270</locationX>
        <locationY>1632</locationY>
        <assignmentItems>
            <assignToReference>var_Task_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please reach out to {!Loop_Opportunities.Account.Name}  to review their Off Payroll Protect scheme and create the Annual Partner Review.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_var_Task_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_var_Task_2_2</name>
        <label>Assign values to var_Task_2_2</label>
        <locationX>270</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>var_Task_2_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please reach out to {!Loop_Opportunities.Account.Name}  to review their Off Payroll Protect scheme and create the Annual Partner Review.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_varTask_2_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varTask_1_to_Collection</name>
        <label>Assign varTask_1 to Collection</label>
        <locationX>270</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_1_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Product_Off_Payroll_Protect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varTask_2_to_Collection</name>
        <label>Assign varTask_2 to Collection</label>
        <locationX>270</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_2_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Custom_Settings</name>
        <label>Check Custom Settings</label>
        <locationX>611</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Record_Type</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current Opportunity Product Type contains IR35 Tool</description>
        <name>Check_Product_IR35_Tool</name>
        <label>Check Product - IR35 Tool</label>
        <locationX>402</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Check_Product_Off_Payroll_Protect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>IR35_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunities.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35 Tool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AgreementEndDateIR35_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_var_Task_1</targetReference>
            </connector>
            <label>IR35 Tool</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if current Opportunity Product Type contains Off Payroll Protect</description>
        <name>Check_Product_Off_Payroll_Protect</name>
        <label>Check Product - Off Payroll Protect</label>
        <locationX>402</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Off_Payroll_Protect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opportunities.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Off Payroll Protect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AgreementEndDateOPP_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_var_Task_2</targetReference>
            </connector>
            <label>Off Payroll Protect</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Opportunities_Found</name>
        <label>How Many Opportunities Found?</label>
        <locationX>380</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No Opportunities Found</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Opportunities_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Opportunity_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Queue</targetReference>
            </connector>
            <label>One or More Opportunities Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Many_Tasks_to_Create</name>
        <label>How Many Tasks to Create?</label>
        <locationX>182</locationX>
        <locationY>2232</locationY>
        <defaultConnectorLabel>No Tasks to Create</defaultConnectorLabel>
        <rules>
            <name>One_or_More_Tasks_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Task_Creation_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tasks</targetReference>
            </connector>
            <label>One or More Tasks to Create</label>
        </rules>
    </decisions>
    <description>Scheduled flow on Partner Opportunity that runs at 4am that creates Task for renewal conversation</description>
    <environments>Default</environments>
    <formulas>
        <name>AgreementEndDateIR35_45</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Opportunities.Agreement_End_Date_IR35__c} - 45 = TODAY()</expression>
    </formulas>
    <formulas>
        <name>AgreementEndDateOPP_45</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Opportunities.Agreement_End_Date_OPP__c} - 45 = TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity: Scheduled: Partner Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Scheduled: Partner Record Type</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_IR35_Tool</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count_of_Tasks_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>2340</locationY>
        <inputReference>col_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Implementation_Queue</name>
        <label>Get Implementation Queue</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Closed Won &amp; Renewal Task Opportunities</description>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Create_Renewal_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Record_Type</name>
        <label>Get Partner Record Type</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Settings</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-02</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>task_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Renewal conversation for {!Loop_Opportunities.Account.Name}</text>
    </textTemplates>
    <variables>
        <name>col_AssignedToIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>col_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Opportunity_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Task_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_1_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_1_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_Creation_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
