force-app/main/default/flows/Opportunity_Platform_Event_Duplicate_Opportunity_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Platform Event (Lead to Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Platform Event (Duplicate Opportunity Check)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Source</name>
        <label>Create Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Triggering_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Duplicate_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Triggering_Opp</name>
        <label>Delete Triggering Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Triggering_Opportunity</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Duplicate_Opportunity</name>
        <label>Get Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Triggering_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Matched_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Opportunity</name>
        <label>Get Triggering Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Duplicate_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Triggering_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Duplicate_Opportunity</name>
        <label>Update Duplicate Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Matched_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attribution__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Attribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer_End_Client__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Employer_End_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Friend_Name__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referral_Friend_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_by_Contact__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Referred_by_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Leads__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Source_of_Leads__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unlisted_Referral_Company__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Unlisted_Referral_Company__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Duplicate_Opportunity</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Duplicate_Opportunity_Check__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
