force-app/main/default/flows/Opportunity_Duplicate_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Opportunity_Product_Type_to_Collection</name>
        <label>Convert Opportunity Product Type to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Lead_with_the_same_email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>duplicateLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Leads</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stopAdding</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateLeadIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLead.Lead_to_be_deleted_by_automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLead2Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_through_all_Product_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Update_Variables</name>
        <label>Assign Source Update Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUpdSource.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_filtered_Source.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdSource.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colUpdSource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varUpdSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_filtered_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Source_Variables</name>
        <label>Assign Source Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSource.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSource.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Duplicate_Leads.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSource</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_filtered_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stop_Adding_to_false</name>
        <label>Stop Adding to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stopAdding</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Product_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Lead_with_Same_Email_to_Collection</name>
        <label>Store Lead with Same Email to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_with_the_same_email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Unq_Lead_with_Same_Email_to_Collection</name>
        <label>Store Unq Lead with Same Email to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_with_the_same_email_and_Unqualified_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Leads</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Lead_with_Product_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Lead with Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Lead_with_Product_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>colLead</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Lead_with_Product_Type.Product_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Loop_through_all_Product_Types</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Lead_with_Product_Type.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_all_Leads.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Lead</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Source</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Source</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Source</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Source.Introduced_Lead__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_all_Duplicate_Leads.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Source_Variables</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Found_Lead</name>
        <label>Found Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Product_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Lead_with_Product_Type</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stopAdding</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead</targetReference>
            </connector>
            <label>Yes - Found Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lead_with_the_same_email</name>
        <label>Found Lead with the same email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_with_the_same_email_and_Unqualified_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Lead_with_Same_Email_to_Collection</targetReference>
            </connector>
            <label>Yes - Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Unqualified_Duplicate_Leads</name>
        <label>Found Unqualified Duplicate Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Unqualified_Duplicate_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_with_the_same_email_and_Unqualified_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Unq_Lead_with_Same_Email_to_Collection</targetReference>
            </connector>
            <label>Yes - Found Unqualified Duplicate Leads</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Duplicate_Leads</name>
        <label>has Duplicate Leads?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Duplicate_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateLeads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Source</targetReference>
            </connector>
            <label>Yes - has Duplicate Leads</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todayPlus30D</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Opportunity - Duplicate Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Duplicate Opportunity</label>
    <loops>
        <name>Loop_through_all_Duplicate_Leads</name>
        <label>Loop through all Duplicate Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>duplicateLeads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Source_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_filtered_Source</name>
        <label>Loop through all filtered Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Source</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Source_Update_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_Duplicate_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Leads</name>
        <label>Loop through all Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stop_Adding_to_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>has_Duplicate_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Product_Types</name>
        <label>Loop through all Product Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Opportunity_Product_Type_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Lead_with_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Source</name>
        <label>Get All Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Duplicate_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>In</operator>
            <value>
                <elementReference>duplicateLeadIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_with_the_same_email</name>
        <label>Get Lead with the same email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lead_with_the_same_email</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Account.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_with_the_same_email_and_Unqualified_Date</name>
        <label>Get Lead with the same email and Unqualified Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Unqualified_Duplicate_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Account.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unqualified_Date_is_within_30_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leads_to_Delete</name>
        <label>Update Leads to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colLead2Delete</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Source_Records</name>
        <label>Update Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Leads_to_Delete</targetReference>
        </connector>
        <inputReference>colUpdSource</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Opportunity_Product_Type_to_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>colLead2Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>colSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>colUpdSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Lead_with_Product_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Source</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>duplicateLeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicateLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>stopAdding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>varUpdSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
</Flow>
