force-app/main/default/flows/Opportunity_Add_Role_and_Cadence_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>InitialContactCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMnUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>NonAutoRenewalCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMsUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityContactCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMxUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrimarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVO</stringValue>
        </value>
    </constants>
    <constants>
        <name>SecondarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Role</name>
        <label>Has Role?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_from_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Created_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Role_to_Customer</targetReference>
            </connector>
            <label>Created from Lead?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</name>
        <label>Opportunity Record Type is not Auto-Renewal Opportunity</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cadence</targetReference>
            </connector>
            <label>Yes, Opportunity Record Type is not Auto-Renewal Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Add Role and Cadence on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityContactRole: Add Role and Cadence on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Created_Lead</name>
        <label>Get Created Lead</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Role_to_Customer</name>
        <label>Set Role to Customer</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false</filterFormula>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Created_Lead</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Cadence</name>
        <label>Add Cadence</label>
        <locationX>242</locationX>
        <locationY>792</locationY>
        <flowName>Opportunity_Add_to_Cadence_Auto_launched</flowName>
        <inputAssignments>
            <name>recordOCR</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CadenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighVelocitySalesCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighVelocitySalesQuickCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
