force-app/main/default/flows/Opportunity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Action_Plan_1</name>
        <label>Create Action Plan - 1</label>
        <locationX>2646</locationX>
        <locationY>1847</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_12</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD IR35 Health Check Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_1.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_2</name>
        <label>Create Action Plan - 2</label>
        <locationX>2646</locationX>
        <locationY>2663</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Number_of_Off_Payroll_Protect_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD IR35 Tool Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_2.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_3</name>
        <label>Create Action Plan - 3</label>
        <locationX>2646</locationX>
        <locationY>3479</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Number_of_PI_PL_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD Off Payroll Protect Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_3.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_4</name>
        <label>Create Action Plan - 4</label>
        <locationX>2646</locationX>
        <locationY>4295</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_PI_PL_Action_Plan_Created_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD PI &amp; PL Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_4.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_5</name>
        <label>Create Action Plan - 5</label>
        <locationX>2646</locationX>
        <locationY>5111</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Number_of_PL_Affinity_Process_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD Professional Indemnity Insurance Audit Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_5.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_7</name>
        <label>Create Action Plan - 7</label>
        <locationX>2646</locationX>
        <locationY>5927</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_PL_Affinity_Action_Plan_Created_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD Public Liability Affinity Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_7.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_8</name>
        <label>Create Action Plan - 8</label>
        <locationX>2646</locationX>
        <locationY>6743</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Number_of_Group_Insurance_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD Wholesale Onboarding</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_8.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_Group_Insurance</name>
        <label>Create Action Plan - Group Insurance</label>
        <locationX>2646</locationX>
        <locationY>7559</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Number_of_IR35_Protect_Insurance_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD Group Insurance Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_Group_Insurance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Action_Plan_IR35_Protect_Insurance</name>
        <label>Create Action Plan - IR35 Protect Insurance</label>
        <locationX>2646</locationX>
        <locationY>8375</locationY>
        <actionName>LabsActionPlans__ActionPlanCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Protect_Insurance_Action_Plan_Created_True</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionPlanName</name>
            <value>
                <stringValue>BD IR35 Protect Insurance Action Plan</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateNameOrID</name>
            <value>
                <elementReference>Get_Action_Plan_Template_IR35ProtectInsurance.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LabsActionPlans__ActionPlanCreateInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_RICS_Reminder_Contractor</name>
        <label>Send Email - RICS Reminder - Contractor</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Send_Primary_Contact_to_Pardot</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>underwriting@kingsbridge.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RICS_Reminder_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RICS_Reminder_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_RICS_Reminder_Non_Auto_Renewal</name>
        <label>Send Email - RICS Reminder - Non Auto Renewal</label>
        <locationX>1546</locationX>
        <locationY>1847</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>underwriting@kingsbridge.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>RICS_Reminder_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RICS_Reminder_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_Task</name>
        <label>Add to Collection - Task</label>
        <locationX>2426</locationX>
        <locationY>9731</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Create_Renewal_Task</name>
        <label>Assign Create Renewal Task</label>
        <locationX>2514</locationX>
        <locationY>10031</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Create_Renewal_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_20</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Lost_Contractor</name>
        <label>Assign Date Lost - Contractor</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Send_Primary_Contact_to_Pardot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Lost_Non_Auto_Renewal</name>
        <label>Assign Date Lost - Non Auto Renewal</label>
        <locationX>1238</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Date_Lost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_1</name>
        <label>Assign Deferred to Action Plan Task - 1</label>
        <locationX>3086</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_10</name>
        <label>Assign Deferred to Action Plan Task - 10</label>
        <locationX>3086</locationX>
        <locationY>8591</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_10.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_2</name>
        <label>Assign Deferred to Action Plan Task - 2</label>
        <locationX>3086</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_3</name>
        <label>Assign Deferred to Action Plan Task - 3</label>
        <locationX>3086</locationX>
        <locationY>3695</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_4</name>
        <label>Assign Deferred to Action Plan Task - 4</label>
        <locationX>3086</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_5</name>
        <label>Assign Deferred to Action Plan Task - 5</label>
        <locationX>3086</locationX>
        <locationY>5327</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_5.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_7</name>
        <label>Assign Deferred to Action Plan Task - 7</label>
        <locationX>3086</locationX>
        <locationY>6143</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_7.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_8</name>
        <label>Assign Deferred to Action Plan Task - 8</label>
        <locationX>3086</locationX>
        <locationY>6959</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_8.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deferred_to_Action_Plan_Task_9</name>
        <label>Assign Deferred to Action Plan Task - 9</label>
        <locationX>3086</locationX>
        <locationY>7775</locationY>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Action_Plan_Task_9.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ActionPlanTask.LabsActionPlans__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_ActionPlanTask_to_Collection_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Implementation_Case_Variables</name>
        <label>Assign Implementation Case Variables</label>
        <locationX>2162</locationX>
        <locationY>9515</locationY>
        <assignmentItems>
            <assignToReference>var_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IR35ToolImplementationSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IR 35</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Implementation_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting on Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IR35_Tool_Implementation_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Implementation_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_OPP_Sale_Reminder</name>
        <label>Assign Next OPP Sale Reminder</label>
        <locationX>2822</locationX>
        <locationY>10631</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Next_OPP_Sale_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayPlus7_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Sending_Agreement_Reminder</name>
        <label>Assign Next Sending Agreement Reminder</label>
        <locationX>2822</locationX>
        <locationY>10331</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Next_Sending_Agreement_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todayPlus7_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Implementing_Off_Payroll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_Remove_Cadence</name>
        <label>Assign Opportunity to Remove Cadence</label>
        <locationX>1623</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Remove_from_Cadence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stage_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PI_PL_Action_Plan_Created_True</name>
        <label>Assign PI &amp; PL Action Plan Created - True</label>
        <locationX>2646</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.PI_PL_Action_Plan_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_PI_Insurance_Audit_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PL_Affinity_Action_Plan_Created_True</name>
        <label>Assign PL Affinity Action Plan Created - True</label>
        <locationX>2646</locationX>
        <locationY>6035</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.PL_Affinity_Action_Plan_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Wholesale_Onboarding_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Protect_Insurance_Action_Plan_Created_True</name>
        <label>Assign Protect Insurance Action Plan Created - True</label>
        <locationX>2646</locationX>
        <locationY>8483</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Protect_Insurance_Action_Plan_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Action_Plan_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Contact_to_Pardot_varAccount</name>
        <label>Assign Send Contact to Pardot - varAccount</label>
        <locationX>424</locationX>
        <locationY>2339</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.Send_Contact_to_Pardot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variable_1</name>
        <label>Assign Task Variable - 1</label>
        <locationX>2426</locationX>
        <locationY>9515</locationY>
        <assignmentItems>
            <assignToReference>var_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Schedule Introductory call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Schedule Introductory call for {!$Record.Name} to complete the IR 35 Healthcheck</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Task_Variable_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Variable_2</name>
        <label>Assign Task Variable - 2</label>
        <locationX>2426</locationX>
        <locationY>9623</locationY>
        <assignmentItems>
            <assignToReference>var_Task_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Healthcheck been completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check if the IR 35 Healthcheck for {!$Record.Name} has been completed, so that the invoice can be send out.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task_2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>task_DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_1</name>
        <label>Assign var_ActionPlanTask to Collection - 1</label>
        <locationX>3086</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_10</name>
        <label>Assign var_ActionPlanTask to Collection - 10</label>
        <locationX>3086</locationX>
        <locationY>8699</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_2</name>
        <label>Assign var_ActionPlanTask to Collection - 2</label>
        <locationX>3086</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_3</name>
        <label>Assign var_ActionPlanTask to Collection - 3</label>
        <locationX>3086</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_4</name>
        <label>Assign var_ActionPlanTask to Collection - 4</label>
        <locationX>3086</locationX>
        <locationY>4619</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_5</name>
        <label>Assign var_ActionPlanTask to Collection - 5</label>
        <locationX>3086</locationX>
        <locationY>5435</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_7</name>
        <label>Assign var_ActionPlanTask to Collection - 7</label>
        <locationX>3086</locationX>
        <locationY>6251</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_8</name>
        <label>Assign var_ActionPlanTask to Collection - 8</label>
        <locationX>3086</locationX>
        <locationY>7067</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_ActionPlanTask_to_Collection_9</name>
        <label>Assign var_ActionPlanTask to Collection - 9</label>
        <locationX>3086</locationX>
        <locationY>7883</locationY>
        <assignmentItems>
            <assignToReference>col_ActionPlanTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ActionPlanTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Action_Plan_Task_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_var_Task_to_Collection</name>
        <label>Assign var_Task to Collection</label>
        <locationX>3218</locationX>
        <locationY>9623</locationY>
        <assignmentItems>
            <assignToReference>col_Task</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_variable_to_var_Task</name>
        <label>Assign variable to var_Task</label>
        <locationX>3218</locationX>
        <locationY>9515</locationY>
        <assignmentItems>
            <assignToReference>var_Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_var_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Win_Back_Opportunity_1</name>
        <label>Assign Win-Back Opportunity - 1</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Win_Back_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Date_Lost_Contractor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Win_Back_Opportunity_2</name>
        <label>Assign Win-Back Opportunity - 2</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Win_Back_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Date_Lost_Non_Auto_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Win_Back_Opportunity_3</name>
        <label>Assign Win-Back Opportunity - 3</label>
        <locationX>3130</locationX>
        <locationY>9191</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Win_Back_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Action_Plan_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Opportunity_Id</name>
        <label>Stamp Closed Lost Date</label>
        <locationX>1623</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Closed_Lost_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Loss_Reason_1</name>
        <label>Check Loss Reason - 1</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Assign_Date_Lost_Contractor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Loss_Reasons_1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_Lost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Reason_Lost_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insured With Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Reason_Lost_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Too Expensive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Win_Back_Opportunity_1</targetReference>
            </connector>
            <label>Valid Loss Reasons - 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Loss_Reason_2</name>
        <label>Check Loss Reason - 2</label>
        <locationX>1238</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Assign_Date_Lost_Non_Auto_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Loss_Reasons_2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_Lost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Reason_Lost_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insured With Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Reason_Lost_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Too Expensive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Win_Back_Opportunity_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Valid Loss Reasons - 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Group_Insurance_Products</name>
        <label>Check Number of Group Insurance Products</label>
        <locationX>2954</locationX>
        <locationY>7343</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_IR35_Protect_Insurance_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofGroupInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Group_Insurance_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_Group_Insurance_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_Group_Insurance</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofGroupInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Group_Insurance_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_9</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_IR35_Protect_Insurance_Products</name>
        <label>Check Number of IR35 Protect Insurance Products</label>
        <locationX>2954</locationX>
        <locationY>8159</locationY>
        <defaultConnector>
            <targetReference>Update_Action_Plan_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofR35ProtectInsurance</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR35_Protect_Insurance_Product__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_IR35_Protect_Insurance_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_IR35_Protect_Insurance_Product__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Protect_Insurance_Action_Plan_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_IR35ProtectInsurance</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofR35ProtectInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR35_Protect_Insurance_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_10</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Off_Payroll_Protect_Products</name>
        <label>Check Number of Off Payroll Protect Products</label>
        <locationX>2954</locationX>
        <locationY>3263</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_PI_PL_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofOffPayrollProtectProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Off_Payroll_Protect_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_Off_Payroll_Protect_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_3</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofOffPayrollProtectProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Off_Payroll_Protect_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_PI_Insurance_Audit_Products</name>
        <label>Check Number of PI Insurance Audit Products</label>
        <locationX>2954</locationX>
        <locationY>4895</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_PL_Affinity_Process_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofPIInsuranceAuditProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_PI_Insurance_Audit_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_PI_Insurance_Audit_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_5</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0CheckNumberofPIInsuranceAuditProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_PI_Insurance_Audit_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_5</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_PI_PL_Products</name>
        <label>Check Number of PI &amp; PL Products</label>
        <locationX>2954</locationX>
        <locationY>4079</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_PI_Insurance_Audit_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofProfessionalIndemnityProducts</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Professional_Indemnity_Product__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_Professional_Indemnity_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Public_Liability_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_Public_Liability_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PI_PL_Action_Plan_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_4</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofProfessionalIndemnityProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Professional_Indemnity_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Public_Liability_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_PL_Affinity_Process_Products</name>
        <label>Check Number of PL Affinity Process Products</label>
        <locationX>2954</locationX>
        <locationY>5711</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_Wholesale_Onboarding_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofPLAffinityProcessProducts</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_PL_Affinity_Process_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_PL_Affinity_Process_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_PL_Affinity_Process_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PL_Affinity_Action_Plan_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_7</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofPLAffinityProcessProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_PL_Affinity_Process_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_7</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Wholesale_Onboarding_Products</name>
        <label>Check Number of Wholesale Onboarding Products</label>
        <locationX>2954</locationX>
        <locationY>6527</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_Group_Insurance_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofWholesaleOnboardingProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Wholesale_Professions_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_Wholesale_Professions_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_8</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofWholesaleOnboardingProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Wholesale_Professions_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_8</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Partner</name>
        <label>Check Product - Partner</label>
        <locationX>2514</locationX>
        <locationY>9407</locationY>
        <defaultConnector>
            <targetReference>Assign_Create_Renewal_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>IR35_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35 Tool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Implementation_Case_Variables</targetReference>
            </connector>
            <label>IR35 Tool</label>
        </rules>
        <rules>
            <name>IR_35_Health_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35 Health Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Variable_1</targetReference>
            </connector>
            <label>IR 35 Health Check</label>
        </rules>
        <rules>
            <name>Off_Payroll_Protect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off Payroll Protect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Create_Renewal_Task</targetReference>
            </connector>
            <label>Off Payroll Protect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1755</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Number_of_IR_35_Health_Check_Products_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partner</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Stage_Contractor</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Non_Auto_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Auto_Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Stage_Non_Auto_Renewal</targetReference>
            </connector>
            <label>Non-Auto Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Referral_Reason_1</name>
        <label>Check Referral Reason - 1</label>
        <locationX>622</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Check_Send_Primary_Contact_to_Pardot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_RICS_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICS Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_RICS_Reminder_Contractor</targetReference>
            </connector>
            <label>Contains RICS Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Referral_Reason_2</name>
        <label>Check Referral Reason - 2</label>
        <locationX>1678</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_RICS_Members_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICS Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_RICS_Reminder_Non_Auto_Renewal</targetReference>
            </connector>
            <label>Contains RICS Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User</name>
        <label>Check Running User</label>
        <locationX>2662</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Integration User</defaultConnectorLabel>
        <rules>
            <name>NOT_Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_is_changed_to</targetReference>
            </connector>
            <label>NOT Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Send_Primary_Contact_to_Pardot</name>
        <label>Check Send Primary Contact to Pardot</label>
        <locationX>556</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Send_Primary_Contact_to_Pardot_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Primary_Contact_to_Pardot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Send_Contact_to_Pardot_varAccount</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send Primary Contact to Pardot = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Contractor</name>
        <label>Check Stage - Contractor</label>
        <locationX>556</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Check_Send_Primary_Contact_to_Pardot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Loss_Reason_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost - Contractor</label>
        </rules>
        <rules>
            <name>Closed_Won_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Referral_Reason_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won - Contractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Non_Auto_Renewal</name>
        <label>Check Stage - Non Auto Renewal</label>
        <locationX>1612</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost_Non_Auto_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Loss_Reason_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost - Non Auto Renewal</label>
        </rules>
        <rules>
            <name>Closed_Won_Non_Auto_Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Referral_Reason_2</targetReference>
            </connector>
            <label>Closed Won - Non Auto Renewals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage_Partner</name>
        <label>Check Stage - Partner</label>
        <locationX>2954</locationX>
        <locationY>9083</locationY>
        <defaultConnector>
            <targetReference>Decision_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Implementation_Case_Record_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won - Partner</label>
        </rules>
        <rules>
            <name>Closed_Lost_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Win_Back_Opportunity_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Lost - Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_12</name>
        <label>Check Number of IR 35 Tool Products</label>
        <locationX>2954</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Check_Number_of_Off_Payroll_Protect_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofIR35ToolProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR_35_Tool_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_IR_35_Tool_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_2</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofIR35ToolProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR_35_Tool_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Field uses to determine the next Reminder Date for the Account.Owner to get IR35 Tool Proposal agreed on</description>
        <name>Decision_20</name>
        <label>Sending Quote/Proposal</label>
        <locationX>2954</locationX>
        <locationY>10223</locationY>
        <defaultConnector>
            <targetReference>Implementing_Off_Payroll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AP_IR35_T_Sending_Quote_Proposal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_Sending_Agreement_Reminder</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sending Quote/Proposal is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Synced_Quote</name>
        <label>has Synced Quote?</label>
        <locationX>1601</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Stage_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Synced_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Synced_Quote_Status</targetReference>
            </connector>
            <label>Yes - Has Synced Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementing_Off_Payroll</name>
        <label>Implementing Off Payroll</label>
        <locationX>2954</locationX>
        <locationY>10523</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Implementing_Off_Payroll_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AP_OPP_Implementing_Off_Payroll__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_OPP_Sale_Reminder</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Implementing Off Payroll is checked?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_IR_35_Health_Check_Products_0</name>
        <label>Number of IR 35 Health Check Products &gt; 0</label>
        <locationX>2954</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Decision_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0NumberofIR35HealthCheckProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR_35_Health_Check_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Number_of_IR_35_Health_Check_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template_1</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
        <rules>
            <name>Changed_to_0NumberofIR35HealthCheckProducts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_IR_35_Health_Check_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Stage_is_changed_to</name>
        <label>Opportunity Stage is changed to</label>
        <locationX>1755</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Stage_is_changed_to</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_or_Closed_Lost</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_Synced_Quote</targetReference>
            </connector>
            <label>Closed Won or Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is</name>
        <label>Stage is</label>
        <locationX>1755</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Opportunity_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_is_changed_to</name>
        <label>Stage is changed to</label>
        <locationX>1755</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Stage_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_to_Remove_Cadence</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed to Closed</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Opportunity is updated. 
30/06/2025 - Adjusted Flow to not Remove Cadence for Closed Opportunities for webhooks Profile. 02/07/2025 Amended how Webhooks User Profile is checked on running User.</description>
    <environments>Default</environments>
    <formulas>
        <name>IR35ToolImplementationSubject</name>
        <dataType>String</dataType>
        <expression>IF( 
{!$Record.Account.IsPersonAccount} = TRUE, 
&apos;IR 35 tool Implementation - &apos; + {!$Record.Account.FirstName} + &apos; &apos; + {!$Record.Account.LastName} , 
&apos;IR 35 tool Implementation - &apos; + {!$Record.Account.Name}
)</expression>
    </formulas>
    <formulas>
        <name>syncedQuoteStatus_Formula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.StageName},
&quot;Closed Won&quot;, &quot;Policy - Live&quot;,
&quot;Closed Lost&quot;, &quot;Closed Lost&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>task_DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 28</expression>
    </formulas>
    <formulas>
        <name>todayPlus7_formula</name>
        <dataType>Date</dataType>
        <expression>today() + 7</expression>
    </formulas>
    <interviewLabel>Opportunity: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Update</label>
    <loops>
        <name>Loop_Action_Plan_Task_1</name>
        <label>Loop Action Plan Task - 1</label>
        <locationX>2998</locationX>
        <locationY>1955</locationY>
        <collectionReference>Get_Action_Plan_Task_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_12</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_10</name>
        <label>Loop Action Plan Task - 10</label>
        <locationX>2998</locationX>
        <locationY>8483</locationY>
        <collectionReference>Get_Action_Plan_Task_10</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_10</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Action_Plan_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_2</name>
        <label>Loop Action Plan Task - 2</label>
        <locationX>2998</locationX>
        <locationY>2771</locationY>
        <collectionReference>Get_Action_Plan_Task_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_Off_Payroll_Protect_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_3</name>
        <label>Loop Action Plan Task - 3</label>
        <locationX>2998</locationX>
        <locationY>3587</locationY>
        <collectionReference>Get_Action_Plan_Task_3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_PI_PL_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_4</name>
        <label>Loop Action Plan Task - 4</label>
        <locationX>2998</locationX>
        <locationY>4403</locationY>
        <collectionReference>Get_Action_Plan_Task_4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_PI_Insurance_Audit_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_5</name>
        <label>Loop Action Plan Task - 5</label>
        <locationX>2998</locationX>
        <locationY>5219</locationY>
        <collectionReference>Get_Action_Plan_Task_5</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_PL_Affinity_Process_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_7</name>
        <label>Loop Action Plan Task - 7</label>
        <locationX>2998</locationX>
        <locationY>6035</locationY>
        <collectionReference>Get_Action_Plan_Task_7</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_7</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_Wholesale_Onboarding_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_8</name>
        <label>Loop Action Plan Task - 8</label>
        <locationX>2998</locationX>
        <locationY>6851</locationY>
        <collectionReference>Get_Action_Plan_Task_8</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_8</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_Group_Insurance_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Action_Plan_Task_9</name>
        <label>Loop Action Plan Task - 9</label>
        <locationX>2998</locationX>
        <locationY>7667</locationY>
        <collectionReference>Get_Action_Plan_Task_9</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Deferred_to_Action_Plan_Task_9</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_IR35_Protect_Insurance_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>3130</locationX>
        <locationY>9407</locationY>
        <collectionReference>Get_All_Action_Plan_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_variable_to_var_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Action_Plan_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Implementation_Case</name>
        <label>Create Implementation Case</label>
        <locationX>2162</locationX>
        <locationY>9623</locationY>
        <connector>
            <targetReference>Assign_Create_Renewal_Task</targetReference>
        </connector>
        <inputReference>var_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>2426</locationX>
        <locationY>9839</locationY>
        <connector>
            <targetReference>Assign_Create_Renewal_Task</targetReference>
        </connector>
        <inputReference>col_Task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_1</name>
        <label>Get Action Plan - 1</label>
        <locationX>2998</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Health Check Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_10</name>
        <label>Get Action Plan - 10</label>
        <locationX>2998</locationX>
        <locationY>8267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Protect Insurance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_2</name>
        <label>Get Action Plan - 2</label>
        <locationX>2998</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Tool Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_3</name>
        <label>Get Action Plan - 3</label>
        <locationX>2998</locationX>
        <locationY>3371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Off Payroll Protect Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_4</name>
        <label>Get Action Plan - 4</label>
        <locationX>2998</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD PI &amp; PL Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <sortField>LabsActionPlans__Plan_Progress__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_5</name>
        <label>Get Action Plan - 5</label>
        <locationX>2998</locationX>
        <locationY>5003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Professional Indemnity Insurance Audit Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_7</name>
        <label>Get Action Plan - 7</label>
        <locationX>2998</locationX>
        <locationY>5819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Public Liability Affinity Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_8</name>
        <label>Get Action Plan - 8</label>
        <locationX>2998</locationX>
        <locationY>6635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Wholesale Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_9</name>
        <label>Get Action Plan - 9</label>
        <locationX>2998</locationX>
        <locationY>7451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Task_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Group Insurance Action Plan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_1</name>
        <label>Get Action Plan Task - 1</label>
        <locationX>2998</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_10</name>
        <label>Get Action Plan Task - 10</label>
        <locationX>2998</locationX>
        <locationY>8375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_10.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_2</name>
        <label>Get Action Plan Task - 2</label>
        <locationX>2998</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_3</name>
        <label>Get Action Plan Task - 3</label>
        <locationX>2998</locationX>
        <locationY>3479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_3.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_4</name>
        <label>Get Action Plan Task - 4</label>
        <locationX>2998</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_4.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_5</name>
        <label>Get Action Plan Task - 5</label>
        <locationX>2998</locationX>
        <locationY>5111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_7</name>
        <label>Get Action Plan Task - 7</label>
        <locationX>2998</locationX>
        <locationY>5927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_7.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_8</name>
        <label>Get Action Plan Task - 8</label>
        <locationX>2998</locationX>
        <locationY>6743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_8.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Task_9</name>
        <label>Get Action Plan Task - 9</label>
        <locationX>2998</locationX>
        <locationY>7559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Action_Plan_Task_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Action_Plan_9.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_1</name>
        <label>Get Action Plan Template - 1</label>
        <locationX>2646</locationX>
        <locationY>1739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Health Check</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_2</name>
        <label>Get Action Plan Template - 2</label>
        <locationX>2646</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Tool</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_3</name>
        <label>Get Action Plan Template - 3</label>
        <locationX>2646</locationX>
        <locationY>3371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Off Payroll Protect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_4</name>
        <label>Get Action Plan Template - 4</label>
        <locationX>2646</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Professional Indemnity &amp; Public Liability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_5</name>
        <label>Get Action Plan Template - 5</label>
        <locationX>2646</locationX>
        <locationY>5003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Professional Indemnity Insurance Audit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_7</name>
        <label>Get Action Plan Template - 7</label>
        <locationX>2646</locationX>
        <locationY>5819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Public Liability Affinity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_8</name>
        <label>Get Action Plan Template - 8</label>
        <locationX>2646</locationX>
        <locationY>6635</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Wholesale Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_Group_Insurance</name>
        <label>Get Action Plan Template - Group Insurance</label>
        <locationX>2646</locationX>
        <locationY>7451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_Group_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD Group Insurance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template_IR35ProtectInsurance</name>
        <label>Get Action Plan Template - IR35 Protect Insurance</label>
        <locationX>2646</locationX>
        <locationY>8267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Action_Plan_IR35_Protect_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BD IR35 Protect Insurance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__ActionPlanTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Action_Plan_Tasks</name>
        <label>Get All Action Plan Tasks</label>
        <locationX>3130</locationX>
        <locationY>9299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LabsActionPlans__TaskAPTask__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Case_Record_Type</name>
        <label>Get Implementation Case Record Type</label>
        <locationX>2514</locationX>
        <locationY>9191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Implementation_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Queue</name>
        <label>Get Implementation Queue</label>
        <locationX>2514</locationX>
        <locationY>9299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>424</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>var_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Plan_Task</name>
        <label>Update Action Plan Task</label>
        <locationX>2954</locationX>
        <locationY>8975</locationY>
        <connector>
            <targetReference>Check_Stage_Partner</targetReference>
        </connector>
        <inputReference>col_ActionPlanTask</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Action_Plan_Tasks</name>
        <label>Update Action Plan Tasks</label>
        <locationX>3130</locationX>
        <locationY>9815</locationY>
        <connector>
            <targetReference>Decision_20</targetReference>
        </connector>
        <inputReference>col_Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>2662</locationX>
        <locationY>10991</locationY>
        <inputReference>var_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Synced_Quote_Status</name>
        <label>Update Synced Quote Status</label>
        <locationX>1469</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Stage_is_changed_to</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>syncedQuoteStatus_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>2536</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Running_User</targetReference>
        </connector>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>IR35_Tool_Implementation_Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Brand Logo &amp; HEX Code have been requested automatically via email from the Point of Contact in the related Opportunity.
Once received, set-up white labelling of the tool.
Set up partner on Xero to begin invoicing of the tool.</text>
    </textTemplates>
    <textTemplates>
        <name>RICS_Reminder_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Underwriting team,
Please check whether RICS endorsement required for the below account:
Account Name: {!$Record.Account.FirstName} {!$Record.Account.LastName}
Opportunity: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>RICS_Reminder_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Check if RICS endorsement required for {!$Record.Account.FirstName} {!$Record.Account.LastName}</text>
    </textTemplates>
    <variables>
        <name>col_ActionPlanTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabsActionPlans__APTask__c</objectType>
    </variables>
    <variables>
        <name>col_Task</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_ActionPlanTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LabsActionPlans__APTask__c</objectType>
    </variables>
    <variables>
        <name>var_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_Task_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
