force-app/main/default/flows/Opportunity_Screenflow_Edit_Remove_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Reason</name>
        <label>Assign Reason</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity.Reason_for_Removing_Products__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parsedFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reason</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>empty</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_3</name>
        <label>Has Deleted Products</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_deleted_products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editProductTable.deletedProds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Products</targetReference>
            </connector>
            <label>Yes has deleted products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunity_Products</name>
        <label>Found Opportunity Products?</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Products_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Opportunity_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Product_Screen</targetReference>
            </connector>
            <label>Yes Found Opportunity Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Updated_Products</name>
        <label>Has Updated Products?</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Decision_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_updated_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editProductTable.updatedProds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Products</targetReference>
            </connector>
            <label>Yes has updated Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Delete_both_null</name>
        <label>Update/Delete both null?</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Has_Updated_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Update_Delete_both_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>editProductTable.deletedProds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>editProductTable.updatedProds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Update_Screen</targetReference>
            </connector>
            <label>Yes both empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>parsedFormula</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot;&amp;TEXT(DAY({!$Flow.CurrentDate}))&amp;&quot;.&quot;&amp;TEXT(MONTH({!$Flow.CurrentDate}))&amp;&quot;.&quot;&amp;TEXT(YEAR({!$Flow.CurrentDate}))&amp;&quot; - &quot;&amp;{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot;]&quot;&amp;&quot;: &quot;&amp;{!Reason_for_Removing_Product_s}</expression>
    </formulas>
    <interviewLabel>Opportunity: Screenflow: Edit /Remove Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Screenflow: Edit /Remove Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Products</name>
        <label>Delete Products</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Reason_Screen</targetReference>
        </connector>
        <inputReference>editProductTable.deletedProds</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BD_Products_Removed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Removing_Products__c</field>
            <value>
                <elementReference>reason</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <inputReference>editProductTable.updatedProds</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Product_Screen</name>
        <label>Edit Product Screen</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Delete_both_null</targetReference>
        </connector>
        <fields>
            <name>editProductTable</name>
            <extensionName>c:editProductTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProducts</name>
                <value>
                    <elementReference>Get_Opportunity_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>oppName</name>
                <value>
                    <elementReference>Get_Opportunity.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Products_Screen</name>
        <label>No Products Screen</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noProductsMessage</name>
            <fieldText>&lt;p&gt;There are currently no Products recorded against the Opportunity. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Update_Screen</name>
        <label>No Update Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noUpdateTxt</name>
            <fieldText>&lt;p&gt;No updates made on the Products.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_Screen</name>
        <label>Reason Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reason</targetReference>
        </connector>
        <fields>
            <name>successTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Products have been updated!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Removing_Product_s</name>
            <fieldText>Reason for Removing Product(s)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please enter a Reason for why the Products have been removed&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successTxt1</name>
            <fieldText>&lt;p&gt;Products have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>lineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!empty}</text>
    </textTemplates>
    <textTemplates>
        <name>parsedReason</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[MONTH({!$Flow.CurrentDate}).DAY({!$Flow.CurrentDate}).YEAR({!$Flow.CurrentDate}) - {!$User.FirstName} {!$User.LastName}]: {!Reason_for_Removing_Product_s}</text>
    </textTemplates>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
