force-app/main/default/flows/Opportunity_Remove_Cadence_if_Opportunity_Closed_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Target_from_Cadence_Action_1</name>
        <label>Remove Target from Cadence Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Loop_through_all_CadenceTracker</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionCadenceTrackerId</name>
            <value>
                <elementReference>Loop_through_all_CadenceTracker.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_Running_Cadence</name>
        <label>Found Running Cadence?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Running_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ActionCadenceTracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_CadenceTracker</targetReference>
            </connector>
            <label>Yes Found Running Cadence</label>
        </rules>
    </decisions>
    <description>Autolaunched Flow to be called by &apos;Opportunity: Update&apos; to remove and Cadences when an Opportunity is Closed Lost/Won.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Remove Cadence if Opportunity Closed (Auto-launched) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Remove Cadence if Opportunity Closed (Auto-launched)</label>
    <loops>
        <name>Loop_through_all_CadenceTracker</name>
        <label>Loop through all CadenceTracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ActionCadenceTracker</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Target_from_Cadence_Action_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ActionCadenceTracker</name>
        <label>Get ActionCadenceTracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Running_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ActionCadenceTracker</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
