force-app/main/default/flows/Opportunity_Duplicate_Logic_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clear_SyncedQuoteId_on_Opportunity_Action_1</name>
        <label>Clear SyncedQuoteId on Opportunity Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>UpdateIsSyncingInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Reparent_Quote_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>Loop_Quote_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateIsSyncingInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_Opportunity_Product_Type_to_Collection</name>
        <label>Convert Opportunity Product Type to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IR35_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opp_to_Collection</name>
        <label>Add Opp to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>createQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reparent_Quote_Records</name>
        <label>Reparent Quote Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQuote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuote.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_QuotesToReparent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reparent_Source_Records</name>
        <label>Reparent Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSourceOpps2Del.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Source_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSourceOpps2Del.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_Sources2Reparent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSourceOpps2Del</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Source_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Size</name>
        <label>Set Collection Size</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productTypeSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_by_Product_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IR35_to_false</name>
        <label>Set IR35 to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IR35Opp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Closed_Lost_Opportunity_of_the_same_Account_within_30_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IR35_to_true</name>
        <label>Set IR35 to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IR35Opp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Closed_Lost_Opportunity_of_the_same_Account_within_30_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Variables</name>
        <label>Set Opportunity Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_IR35_Loop_through_all_Lost_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Latest_Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_IR35_Loop_through_all_Lost_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Variables_Lost</name>
        <label>Set Opportunity Variables (Lost)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_IR35_Loop_through_all_Lost_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Latest_Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOpp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_IR35_Loop_through_all_Lost_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stop_Adding_to_false</name>
        <label>Stop Adding to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stopAdding</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Product_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Lost_Opps_to_Collection</name>
        <label>Store Lost Opps to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Closed_Lost_Opportunity_of_the_same_Account_within_30_days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_IR35_Loop_through_all_Lost_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Open_Opps_to_Collection</name>
        <label>Store Open Opps to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>foundOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Opportunity_of_the_same_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_IR35_Loop_through_all_Lost_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Opportunities_to_Delete</name>
        <label>Store Opportunities to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opps2Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Non_IR35_Loop_through_all_Lost_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Lost</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_by_Product_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter by Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_by_Product_Type_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>foundOpps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Product_Type_0.Product_Type__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Loop_through_all_Product_Type</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_by_Product_Type_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Non_IR35_Loop_through_all_Lost_Opps.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Collection_Size</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Add_Opp_to_Delete</name>
        <label>Add Opp to Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Closed_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_create_Quote_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Opportunities_to_Delete</targetReference>
            </connector>
            <label>yes -create Quote record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Lost</name>
        <label>Closed Lost?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Non_IR35_Loop_through_all_Lost_Opps.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Variables_Lost</targetReference>
            </connector>
            <label>Yes - Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Closed_Lost_Opps</name>
        <label>Found Closed Lost Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Opportunity_of_the_same_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Closed_Lost_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Lost_Opportunity_of_the_same_Account_within_30_days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Lost_Opps_to_Collection</targetReference>
            </connector>
            <label>Yes - Found Closed Lost Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Opps</name>
        <label>Found Open Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Open_Opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opportunity_of_the_same_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Open_Opps_to_Collection</targetReference>
            </connector>
            <label>Yes - Found Open Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opp</name>
        <label>Found Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productTypeSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stopAdding</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opp_to_Collection</targetReference>
            </connector>
            <label>Yes - Found Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>IR35_Opp</name>
        <label>IR35 Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_IR35_to_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_IR35_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IR35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IR35_to_true</targetReference>
            </connector>
            <label>Yes - IR35 Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opps2DeleteCheck</name>
        <label>Opps2Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opps_2_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opps2Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opps2Delete</targetReference>
            </connector>
            <label>Yes - Opps 2 Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Duplicate Logic (On Create) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Duplicate Logic (On Create)</label>
    <loops>
        <name>Loop_Opps2Delete</name>
        <label>Loop Opps2Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>opps2Delete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Source_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Source_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Records</name>
        <label>Loop Quote Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_SyncedQuoteId_on_Opportunity_Action_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reparent_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Source_Records</name>
        <label>Loop Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Source_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reparent_Source_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reparent_Sources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Product_Type</name>
        <label>Loop through all Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Opportunity_Product_Type_to_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_by_Product_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Opp_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Non_IR35_Loop_through_all_Lost_Opps</name>
        <label>Non-IR35 Loop through all Lost Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>foundOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stop_Adding_to_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Opportunities</name>
        <label>Delete Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>opps2Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Closed_Lost_Opportunity_of_the_same_Account_within_30_days</name>
        <label>Get Closed Lost Opportunity of the same Account within 30 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Closed_Lost_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_since_Closed_Lost__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Account_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunity_of_the_same_Account</name>
        <label>Get Open Opportunity of the same Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Account_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps2Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opps2Delete.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Records</name>
        <label>Get Source Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opps2Delete.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reparent_Quotes</name>
        <label>Reparent Quotes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Opportunities</targetReference>
        </connector>
        <inputReference>col_QuotesToReparent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reparent_Sources</name>
        <label>Reparent Sources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Quote_Records</targetReference>
        </connector>
        <inputReference>col_Sources2Reparent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opps2DeleteCheck</targetReference>
        </connector>
        <inputReference>colOpp</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Opportunity_Product_Type_to_Collection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_QuotesToReparent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>col_Sources2Reparent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>colOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>colQLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>colQuote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>colSource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>createQuote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_by_PBE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Product_Name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Product_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Product_Type_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>foundOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IR35Opp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>oppCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opps2Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>productTypeSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>stopAdding</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>varSourceOpps2Del</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
</Flow>
