force-app/main/default/flows/Opportunity_Source_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Triggering_Opportunity_Product_Type</name>
        <label>Convert Triggering Opportunity Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_s_Lost_Opportunity_within_30_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>record.Product_Type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectFlowValues</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opp_Variables</name>
        <label>Assign Opp Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Source_of_Leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Source_of_Leads__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Attribution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Attribution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Employer_End_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Employer_End_Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Referral_Friend_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Referral_Friend_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Referred_by_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Referred_by_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Referred_By_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Referred_By_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Unlisted_Referral_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Unlisted_Referral_Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duplicateOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lost_Duplicate_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Lost_Opp_to_True</name>
        <label>Set Duplicate Lost Opp  to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_duplicateOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Lost_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_triggering_product_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Duplicate_Open_Opp_to_True</name>
        <label>Set Duplicate Open Opp to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_duplicateOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_Lost_Opps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_triggering_product_type1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Duplicate_Lost_Opp_with_the_same_product_type</name>
        <label>Found Duplicate Lost Opp with the same product type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_s_Open_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Duplicate_Lost_Opp_with_the_same_product_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_duplicateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Variables</targetReference>
            </connector>
            <label>Yes, Found Duplicate Lost Opp with the same product type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Duplicate_Open_Opp_with_the_same_product_type</name>
        <label>Found Duplicate Open Opp with the same product type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Duplicate_Open_Opp_with_the_same_product_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_duplicateOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Found Duplicate Open Opp with the same product type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Lost_Opportunity</name>
        <label>Found Lost Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_s_Open_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Lost_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_s_Lost_Opportunity_within_30_days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Lost_Opps</targetReference>
            </connector>
            <label>Yes, Found Lost Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Open_Opp</name>
        <label>Found Open Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Found_Duplicate_Open_Opp_with_the_same_product_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Open_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_s_Open_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Open_Opps</targetReference>
            </connector>
            <label>Yes, Found Open Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggering_Product_Type_Contains_Lost_Opp</name>
        <label>Triggering Product Type Contains Lost Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_triggering_product_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Triggering_Product_Type_Contains_Lost_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_Lost_Opps.Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_all_triggering_product_type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Duplicate_Lost_Opp_to_True</targetReference>
            </connector>
            <label>Yes, Triggering Product Type Contains Lost Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Source (Auto-launched) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Source (Auto-launched)</label>
    <loops>
        <name>Loop_through_all_Lost_Opps</name>
        <label>Loop through all Lost Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_s_Lost_Opportunity_within_30_days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_all_triggering_product_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Duplicate_Lost_Opp_with_the_same_product_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Open_Opps</name>
        <label>Loop through all Open Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Account_s_Open_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_all_triggering_product_type1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Found_Duplicate_Open_Opp_with_the_same_product_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_triggering_product_type</name>
        <label>Loop through all triggering product type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Triggering_Opportunity_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Triggering_Product_Type_Contains_Lost_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_Lost_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_triggering_product_type1</name>
        <label>Loop through all triggering product type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Convert_Triggering_Opportunity_Product_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Duplicate_Open_Opp_to_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_all_Open_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Source</name>
        <label>Create Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>duplicateOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>record.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By_Email__c</field>
            <value>
                <elementReference>record.Referred_By_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_By__c</field>
            <value>
                <elementReference>record.Referred_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Triggering_Opportunity</name>
        <label>Delete Triggering Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Source</targetReference>
        </connector>
        <inputReference>record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_s_Lost_Opportunity_within_30_days</name>
        <label>Get Account&apos;s Lost Opportunity within 30 days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Lost_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_since_Closed_Lost__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_s_Open_Opportunity</name>
        <label>Get Account&apos;s Open Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Open_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lost_Duplicate_Opp</name>
        <label>Update Lost Duplicate Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Triggering_Opportunity</targetReference>
        </connector>
        <inputReference>varOpp</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Convert_Triggering_Opportunity_Product_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>duplicateOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_duplicateOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
