force-app/main/default/flows/Opportunity_Create_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Running_User_is_webhooks_Site_Guest_User</name>
        <label>Running User is webhooks Site Guest User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Policy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_webhooks_Site_Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Guest User</stringValue>
                </rightValue>
            </conditions>
            <label>Yes - webhooks Site Guest User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>policyName_formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp;&quot; - &quot;&amp;{!$Record.Name}&amp; &quot; Policy&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity: Create Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Create Policy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Policy</name>
        <label>Create Policy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date_time__c</field>
            <value>
                <elementReference>$Record.Policy_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>INSTANDA_Quote_ID__c</field>
            <value>
                <elementReference>$Record.INSTANDA_Quote_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inception_Date_Time__c</field>
            <value>
                <elementReference>$Record.Policy_Inception_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>policyName_formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Instalments__c</field>
            <value>
                <elementReference>$Record.Policy_Number_of_Instalments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.Payment_method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Value__c</field>
            <value>
                <elementReference>$Record.Tax_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>$Record.Policy_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>$Record.Policy_Value__c</elementReference>
            </value>
        </inputAssignments>
        <object>Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Running_User_is_webhooks_Site_Guest_User</targetReference>
        </connector>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false &amp;&amp; ISCHANGED({!$Record.StageName})  &amp;&amp; TEXT({!$Record.StageName}) = &apos;Closed Won&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
