force-app/main/default/flows/Opportunity_Add_to_Cadence_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Assign the Lead to Initial Contact Cadence</description>
        <name>Add_Lead_to_Cadence</name>
        <label>Add Lead to Cadence</label>
        <locationX>380</locationX>
        <locationY>1514</locationY>
        <actionName>assignTargetToSalesCadence</actionName>
        <actionType>assignTargetToSalesCadence</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesCadenceNameOrId</name>
            <value>
                <elementReference>Get_ActionCadence.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordOCR.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>recordOCR.Opportunity.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedToId</name>
            <value>
                <elementReference>recordOCR.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignTargetToSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Auto_Renewal_Cadence_2_0</name>
        <label>Assign Auto Renewal Cadence 2.0</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CadenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auto_Renewal_Cadence_2_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ActionCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Non_Auto_Renewal_Cadence</name>
        <label>Assign Non-Auto Renewal Cadence</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CadenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_on_Auto_Renewal_Cadence_2_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ActionCadence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Contact_Cadence</name>
        <label>Assign Opportunity Contact Cadence</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CadenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Contact_Cadence_2nd_Contact_2_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ActionCadence</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InitialContactCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMnUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>NonAutoRenewalCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMsUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>OpportunityContactCadenceId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77C3M0000004CMxUAM</stringValue>
        </value>
    </constants>
    <constants>
        <name>PrimarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVO</stringValue>
        </value>
    </constants>
    <constants>
        <name>SecondarySalesEngagementPermissionSetId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0PS4J000001KIVQ</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the owner of the Opportunity related to the Contact Role that triggered the flow has an associated record in PermissionSet Assignment from from GetPermissionSetAssignment.</description>
        <name>Does_Opp_Owner_Has_Permission</name>
        <label>Does Opp Owner Has Permission?</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether &apos;Initial Contact Cadence&apos; record was found?</description>
        <name>Found_Cadence</name>
        <label>Found Cadence?</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ActionCadence</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_s_Cadence_Tracker</targetReference>
            </connector>
            <label>Yes Found Cadence</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Opp was already assigned to the Cadence</description>
        <name>Opp_already_assigned_to_Cadence</name>
        <label>Opp already assigned to Cadence?</label>
        <locationX>248</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Add_Lead_to_Cadence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_already_assigned_to_Cadence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp_s_Cadence_Tracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes Lead already assigned to Cadence</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</name>
        <label>Opportunity Record Type is not Auto-Renewal Opportunity</label>
        <locationX>1073</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOCR.Opportunity.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Engagement_Cadence_Creator_Included_Permission_Set</targetReference>
            </connector>
            <label>Yes, Opportunity Record Type is not Auto-Renewal Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contractor_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOCR.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Contact_Cadence_2nd_Contact_2_0</targetReference>
            </connector>
            <label>Contractor Opportunity (New Business Opportunity)</label>
        </rules>
        <rules>
            <name>Non_Auto_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOCR.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Renewal Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_on_Auto_Renewal_Cadence_2_0</targetReference>
            </connector>
            <label>Non-Auto Renewal Opportunity</label>
        </rules>
        <rules>
            <name>Auto_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordOCR.Opportunity.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auto_Renewal_Cadence_2_0</targetReference>
            </connector>
            <label>Auto-Renewal Opportunity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Add to Cadence (Auto-launched) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Add to Cadence (Auto-launched)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get  the &apos;Initial Contact Cadence&apos; record.</description>
        <name>Get_ActionCadence</name>
        <label>Get ActionCadence</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CadenceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auto_Renewal_Cadence_2_0</name>
        <label>Get Auto Renewal Cadence 2.0</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Auto_Renewal_Cadence_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Renewal Cadence 2.0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_on_Auto_Renewal_Cadence_2_0</name>
        <label>Get Non-Auto Renewal Cadence 2.0</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Non_Auto_Renewal_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non-Auto Renewal Cadence 2.0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Lead&apos;s Cadence Record</description>
        <name>Get_Opp_s_Cadence_Tracker</name>
        <label>Get Opp&apos;s Cadence Tracker</label>
        <locationX>248</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_already_assigned_to_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOCR.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActionCadenceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ActionCadence.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contact_Cadence_2nd_Contact_2_0</name>
        <label>Get Opportunity Contact Cadence - 2nd Contact 2.0</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Contact_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Contact Cadence - 2nd Contact 2.0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets an active permission set assignment record with an ID of the assignee matching the ID of the owner of the Opportunity related to the Contact Role that triggered the flow, and a PermissionSetId matching one of the specified permission set IDs. Stores the ID in the Permission Set Assignment from  GetPermissionSetAssignment record variable.</description>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Opp_Owner_Has_Permission</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordOCR.Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HighVelocitySalesCadenceCreatorIncluded</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HighVelocitySalesQuickCadenceCreatorIncluded</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Engagement_Cadence_Creator_Included_Permission_Set</name>
        <label>Get Sales Engagement Cadence Creator Included Permission Set</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Engagement_Quick_Cadence_Creator_Included_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HighVelocitySalesCadenceCreatorIncluded</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>HighVelocitySalesCadenceCreatorIncluded</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Engagement_Quick_Cadence_Creator_Included_Permission_Set</name>
        <label>Get Sales Engagement Quick Cadence Creator Included Permission Set</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HighVelocitySalesQuickCadenceCreatorIncluded</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>HighVelocitySalesQuickCadenceCreatorIncluded</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>947</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type_is_not_Auto_Renewal_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CadenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighVelocitySalesCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighVelocitySalesQuickCadenceCreatorIncluded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
