force-app/main/default/flows/Opportunity_Scheduled_Remove_Cadences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Remove_Target_from_Cadence_Action_1</name>
        <label>Remove Target from Cadence Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>removeTargetFromSalesCadence</actionName>
        <actionType>removeTargetFromSalesCadence</actionType>
        <connector>
            <targetReference>Loop_through_all_CadenceTracker</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>actionCadenceTrackerId</name>
            <value>
                <elementReference>Loop_through_all_CadenceTracker.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionReasonCode</name>
            <value>
                <stringValue>ManuallyRemoved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>completionDisposition</name>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </inputParameters>
        <nameSegment>removeTargetFromSalesCadence</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Running_Cadence_Found</name>
        <label>Running Cadence Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunities_to_remove_checkbox_on_Remove_Cadence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Running Cadence Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Running_Cadence_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ActionCadenceTracker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_CadenceTracker</targetReference>
            </connector>
            <label>Yes: Running Cadence Found</label>
        </rules>
    </decisions>
    <description>Scheduled Flow to check for Opportunities that are Closed and need the Cadence removing as the update was performed by the webhooks Guest User which does not have this permission.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity: Scheduled - Remove Cadences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Scheduled - Remove Cadences</label>
    <loops>
        <name>Loop_through_all_CadenceTracker</name>
        <label>Loop through all CadenceTracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_ActionCadenceTracker</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Target_from_Cadence_Action_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities_to_remove_checkbox_on_Remove_Cadence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ActionCadenceTracker</name>
        <label>Get ActionCadenceTracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Running_Cadence_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ActionCadenceTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Opportunities to remove checkbox on Remove Cadence</description>
        <name>Update_Opportunities_to_remove_checkbox_on_Remove_Cadence</name>
        <label>Update Opportunities to remove checkbox on Remove Cadence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remove_from_Cadence__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ActionCadenceTracker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Remove_from_Cadence__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-30</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
