force-app/main/default/flows/Policy_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Closed_Won_to_From_Opportunity</name>
        <label>Assign Closed Won to From Opportunity</label>
        <locationX>143</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.From_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Last_Policy_Purchase_Date</name>
        <label>Assign Last Policy Purchase Date</label>
        <locationX>319</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>var_PersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccount.Last_Policy_Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>187</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_PersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PersonAccount.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Active Policy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Last_Policy_Purchase_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Customer</name>
        <label>Check Customer</label>
        <locationX>473</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Customer</defaultConnectorLabel>
        <rules>
            <name>Customer_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Status</targetReference>
            </connector>
            <label>Customer Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_From_Opportunity</name>
        <label>Check From Opportunity</label>
        <locationX>275</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>From Opportunity Closed</defaultConnectorLabel>
        <rules>
            <name>From_Opportunity_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.From_Opportunity__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Won_to_From_Opportunity</targetReference>
            </connector>
            <label>From Opportunity Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quote_Found</name>
        <label>Check if Quote Found</label>
        <locationX>473</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>No Quote Found</defaultConnectorLabel>
        <rules>
            <name>Quote_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_From_Opportunity</targetReference>
            </connector>
            <label>Quote Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User</name>
        <label>Check Running User</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Customer_Status</name>
        <label>Update Customer Status?</label>
        <locationX>319</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assign_Last_Policy_Purchase_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdateStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Has Active Policy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Policy is created</description>
    <environments>Default</environments>
    <interviewLabel>Policy: Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy: Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Policy_Owner_Queue</name>
        <label>Get Policy Owner Queue</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_Policy_Owner_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>473</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quote_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INSTANDA_Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.INSTANDA_Quote_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_the_Policy_Owner_to_Queue</name>
        <label>Set the Policy Owner to Queue</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Running_User</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Policy_Owner_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>143</locationX>
        <locationY>1787</locationY>
        <inputReference>var_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>319</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <inputReference>var_PersonAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Policy_Owner_Queue</targetReference>
        </connector>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false</filterFormula>
        <object>Policy__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Policy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
</Flow>
