force-app/main/default/flows/Policy_Create_Renewal_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_there_Renewal_Opportunity_Existing</name>
        <label>Are there Renewal Opportunity Existing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Renewal_Opp_Generated_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto_Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Renewal_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Auto_Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Opp_Generated_Flag</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Triggering Policy has a related Opportunity and if the Expiry Date/Time is 30 days from today&apos;s date.</description>
        <name>Expiry_is_30_Days_From_Today</name>
        <label>Expiry is 30 Days From Today</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateTime30Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the Product Name of the Triggering Policy.</description>
        <name>Is_the_Product_Name_Admiral_or_FUL_Trades</name>
        <label>Is the Product Name Admiral or FUL Trades?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admiral_Trades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admiral Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opp_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Opportunity_Record_Admiral</targetReference>
            </connector>
            <label>Admiral Trades</label>
        </rules>
        <rules>
            <name>FUL_Trades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FUL Trades</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opp_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Opportunity_Record_FUL</targetReference>
            </connector>
            <label>FUL Trades</label>
        </rules>
    </decisions>
    <description>A Schedule-Triggered Flow wherein a Renewal Opportunity is created from a Live Policy.</description>
    <environments>Default</environments>
    <formulas>
        <name>AdmiralRenewalOpp</name>
        <dataType>String</dataType>
        <expression>&quot;Admiral - &quot; &amp; {!$Record.Name} &amp; &quot; - Renewal&quot;</expression>
    </formulas>
    <formulas>
        <name>DateTime30Days</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.Expiry_Date_time__c}) - TODAY() &lt;= 30</expression>
    </formulas>
    <formulas>
        <name>FULRenewalOpp</name>
        <dataType>String</dataType>
        <expression>&quot;FUL Trades - &quot; &amp; {!$Record.Name} &amp; &quot; - Renewal&quot;</expression>
    </formulas>
    <formulas>
        <name>Future30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 29</expression>
    </formulas>
    <interviewLabel>Policy: Create Renewal Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy: Create Auto-Renewal Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new Renewal Opportunity Record for the Triggering Policy.</description>
        <name>Create_Renewal_Opportunity_Record_Admiral</name>
        <label>Create Renewal Opportunity Record Admiral</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_BE__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_BE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_Cyber__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_Cyber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_LE__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_LE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_LE_plus__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_LE_plus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_PA__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_PA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_Guidance__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Aircraft_Guidance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attribution__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Attribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Been_Bankrupt__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Been_Bankrupt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cert_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cert_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claims_Made__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Claims_Made__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Future30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Ir35_Assessment__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Completed_Ir35_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_IR35__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_IR35__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_PI__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_PI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_PL__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_PL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Critical_Rail_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Critical_Rail_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Insurer__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Current_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currently_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Currently_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Cover_Offences__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Declined_Cover_Offences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Cover__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Declined_Cover__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Client_Contract__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.End_Client_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heat_Powerline_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Heat_Powerline_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_1__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_2__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_3__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_4__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_5__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Installment_Amount__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Initial_Installment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AdmiralRenewalOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nuclear_Guidance__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Nuclear_Guidance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Employees__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Employees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Family_Admin__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Family_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Fee_Earning_Staff__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Fee_Earning_Staff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Non_Family_Admin__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Non_Family_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_SMEs_Sole_Traders__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_of_SMEs_Sole_Traders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_1__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_2__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_3__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_4__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_5__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Height_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Height_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Manual_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Manual_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Offshore_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Offshore_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_End_Date__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number_of_Instalments__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_Number_of_Instalments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Start_Date__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Previously_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Body__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Professional_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RICS_Member__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.RICS_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Leads__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Latest_Attribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turnover__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Turnover__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USA_Canada_Law__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.USA_Canada_Law__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USA_Canada_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.USA_Canada_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Would_Like_Call_From_Ir35_Review_Partner__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Would_Like_Call_From_Ir35_Review_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new Renewal Opportunity Record for the Triggering Policy.</description>
        <name>Create_Renewal_Opportunity_Record_FUL</name>
        <label>Create Renewal Opportunity Record FUL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_BE__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_BE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_Cyber__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_Cyber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_LE__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_LE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_LE_plus__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_LE_plus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Addon_Product_PA__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Addon_Product_PA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aircraft_Guidance__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Aircraft_Guidance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attribution__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Attribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Been_Bankrupt__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Been_Bankrupt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cert_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cert_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claims_Made__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Claims_Made__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Future30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Ir35_Assessment__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Completed_Ir35_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_IR35__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_IR35__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_PI__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_PI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cover_Level_PL__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Cover_Level_PL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Critical_Rail_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Critical_Rail_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Insurer__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Current_Insurer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currently_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Currently_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Cover_Offences__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Declined_Cover_Offences__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declined_Cover__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Declined_Cover__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Client_Contract__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.End_Client_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heat_Powerline_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Heat_Powerline_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_1__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_2__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_3__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_4__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_5__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Installment_Amount__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Initial_Installment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FULRenewalOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nuclear_Guidance__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Nuclear_Guidance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Employees__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Employees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Family_Admin__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Family_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Fee_Earning_Staff__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Fee_Earning_Staff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Non_Family_Admin__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_Of_Non_Family_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_SMEs_Sole_Traders__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Number_of_SMEs_Sole_Traders__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_1__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_2__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_3__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_4__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_5__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Height_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Height_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Manual_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Manual_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Offshore_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation_Offshore_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Occupation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_End_Date__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Number_of_Instalments__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_Number_of_Instalments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Start_Date__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Policy_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_Practicing__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Previously_Practicing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Body__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Professional_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RICS_Member__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.RICS_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Leads__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Latest_Attribution__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turnover__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Turnover__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USA_Canada_Law__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.USA_Canada_Law__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USA_Canada_Work__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.USA_Canada_Work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Would_Like_Call_From_Ir35_Review_Partner__c</field>
            <value>
                <elementReference>$Record.From_Opportunity__r.Would_Like_Call_From_Ir35_Review_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expiry_is_30_Days_From_Today</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto-Renewal Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Renewal_Opportunity_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Renewal_Opp_Generated_Flag</name>
        <label>Copy 1 of Update Renewal Opp Generated Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Product_Name_Admiral_or_FUL_Trades</targetReference>
        </connector>
        <inputAssignments>
            <field>Renewal_Opp_Generated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opp_Generated_Flag</name>
        <label>Update Renewal Opp Generated Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Renewal_Opp_Generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admiral Trades</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FUL Trades</stringValue>
            </value>
        </filters>
        <filters>
            <field>From_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Policy__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_RenewalOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
