force-app/main/default/flows/Policy_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_values_to_var_Opportunity</name>
        <label>Assign values to var_Opportunity</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>date_ExpiryDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_Auto_Renewal_Opportunity_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_OLD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opportunity.Product_Name_from_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Without_Policies_to_varAccount</name>
        <label>Assign Without Policies to varAccount</label>
        <locationX>198</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>var_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Active Policy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Account Status of related Account</description>
        <name>Check_Account_Status</name>
        <label>Check Account Status</label>
        <locationX>572</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Active_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Account_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Active Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_1</targetReference>
            </connector>
            <label>No Active Policy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Customer</name>
        <label>Check Customer</label>
        <locationX>528</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>No Customer</defaultConnectorLabel>
        <rules>
            <name>Existing_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Related_Policies</targetReference>
            </connector>
            <label>Existing Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Not_Renewing_Expiry_Date</name>
        <label>Check Is Not Renewing  &amp; Expiry Date</label>
        <locationX>572</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Criteria_Met</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Not_Renewing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>date_Less45D</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>45.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Not_Renewing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_Auto_Renewal_Opportunity_Record_Type</targetReference>
            </connector>
            <label>Criteria Met</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Running_User</name>
        <label>Check Running User</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integration_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IntUser</stringValue>
                </rightValue>
            </conditions>
            <label>Integration User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>528</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_Not_Renewing_Expiry_Date</targetReference>
            </connector>
            <label>Live</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Other_Active_Policies</name>
        <label>Found Other Active Policies?</label>
        <locationX>330</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>Active Policies found</defaultConnectorLabel>
        <rules>
            <name>No_Active_Policies_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Related_Policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Without_Policies_to_varAccount</targetReference>
            </connector>
            <label>No Active Policies found</label>
        </rules>
    </decisions>
    <description>Record triggered flow when a Policy is updated</description>
    <environments>Default</environments>
    <formulas>
        <name>date_ExpiryDateTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Expiry_Date_time__c})</expression>
    </formulas>
    <formulas>
        <name>date_Less45D</name>
        <dataType>Number</dataType>
        <expression>DATEVALUE({!$Record.Expiry_Date_time__c}) - {!$Flow.CurrentDate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Policy: Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy: Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Account_Status</targetReference>
        </connector>
        <inputReference>var_Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Related_Policies</name>
        <label>Get Active Related Policies</label>
        <locationX>330</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Other_Active_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Auto_Renewal_Opportunity_Record_Type</name>
        <label>Get Non-Auto Renewal Opportunity Record Type</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_var_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Auto_Renewal_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>198</locationX>
        <locationY>1979</locationY>
        <inputReference>var_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Account Status of related Account to Has Active Policy</description>
        <name>Update_Account_1</name>
        <label>Update Account</label>
        <locationX>440</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Has Active Policy</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Has Active Policy</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Running_User</targetReference>
        </connector>
        <filterFormula>{!$Setup.Kingsbridge_General_Custom_Setting__c.Flow__c} = false</filterFormula>
        <object>Policy__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>name_Opportunity</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Name} - Non-Auto Renewal</text>
    </textTemplates>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
