force-app/main/default/flows/Round_Robin_Lead_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_Loop_Counter</name>
        <label>Add 1 to Loop Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_RR_Number</name>
        <label>Add 1 to RR Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Retrieved_RR_CS_Record.RR_Counter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_RR_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_RR_Member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_The_Lead_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Group_Member_Count</name>
        <label>Get Group Member Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NumberOfGroupMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GroupMemberList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Member_To_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_RR_Loop_Counter</name>
        <label>Initialise RR Loop Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Member_To_Assign</name>
        <label>Next Member To Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NextToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextRoundRobinGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialise_RR_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Lead_Owner_Type</name>
        <label>Determine Lead Owner Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_This_A_User_Affinity_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is User</defaultConnectorLabel>
        <rules>
            <name>Is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_An_Queue_Affinity_Lead</targetReference>
            </connector>
            <label>Is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Members_Exist</name>
        <label>Do Members Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member_Count</targetReference>
            </connector>
            <label>Members Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Loop_Counter_Match_Member_Number</name>
        <label>Does Loop Counter Match Member Number?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_1_to_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Match</defaultConnectorLabel>
        <rules>
            <name>Counter_Matches_Member_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextToAssign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner</targetReference>
            </connector>
            <label>Counter Matches Member Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_The_Group</name>
        <label>Found The Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Group Not Found</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_Round_Robin_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Group_Members</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_RR_Counter</name>
        <label>Found the RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Queue Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieved_RR_CS_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Round_Robin_Group</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_A_User_Affinity_Lead</name>
        <label>Is This A User Affinity Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not User Affinity</defaultConnectorLabel>
        <rules>
            <name>Is_User_Affinity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Partner__r.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affinity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SDR_RR_Counter</targetReference>
            </connector>
            <label>Is User Affinity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_An_Queue_Affinity_Lead</name>
        <label>Is This An Queue Affinity Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_RR_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Queue Affinity</defaultConnectorLabel>
        <rules>
            <name>Is_Queue_Affinity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Record.Partner__r.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affinity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SDR_RR_Counter_Queue</targetReference>
            </connector>
            <label>Is Queue Affinity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextRoundRobinGroupMember</name>
        <dataType>Number</dataType>
        <expression>MOD({!Retrieved_RR_CS_Record.RR_Counter__c},{!NumberOfGroupMembers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Round Robin Lead Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Robin Lead Subflow</label>
    <loops>
        <name>Get_Next_RR_Member</name>
        <label>Get Next RR Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GroupMemberList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Loop_Counter_Match_Member_Number</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Lead_Owner_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRecordId.Lead_Id_18__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RR_Counter</name>
        <label>Get RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_RR_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead_Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </filters>
        <object>RR_Lead_Counters_CS__c</object>
        <outputReference>Retrieved_RR_CS_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Queue_Name__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SDR_RR_Counter</name>
        <label>Get SDR RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Round_Robin_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affinity</stringValue>
            </value>
        </filters>
        <object>RR_Lead_Counters_CS__c</object>
        <outputReference>Retrieved_RR_CS_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Queue_Name__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SDR_RR_Counter_Queue</name>
        <label>Get SDR RR Counter Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_RR_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affinity</stringValue>
            </value>
        </filters>
        <object>RR_Lead_Counters_CS__c</object>
        <outputReference>Retrieved_RR_CS_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Queue_Name__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Group_Members</name>
        <label>Get The Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Members_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_The_Round_Robin_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMemberList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Round_Robin_Group</name>
        <label>Get The Round Robin Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_The_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieved_RR_CS_Record.RR_Group_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_RR_Counter</name>
        <label>Increment RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Retrieved_RR_CS_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_Lead_Owner</name>
        <label>Update The Lead Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_1_to_RR_Number</targetReference>
        </connector>
        <inputReference>Get_Lead_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <description>The Salesforce Id of the calling Lead Record</description>
        <name>LeadRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NextToAssign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfGroupMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Retrieved_RR_CS_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Lead_Counters_CS__c</objectType>
    </variables>
</Flow>
