force-app/main/default/flows/Round_Robin_Lead_CS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_Loop_Counter_0</name>
        <label>Add 1 to Loop Counter</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_RR_Number</name>
        <label>Add 1 to RR Number</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Retrieved_RR_CS_Record.RR_Counter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_RR_Counter_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Group_Member_Count</name>
        <label>Get Group Member Count</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>NumberofGroupMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GroupMemberList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Member_To_Assign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_RR_Loop_Counter</name>
        <label>Initialise RR Loop Counter</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Member_To_Assign_0</name>
        <label>Next Member To Assign</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>NextToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextRoundRobinGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialise_RR_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Lead_Owner_Type</name>
        <label>Determine Lead Owner Type</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Is User</defaultConnectorLabel>
        <rules>
            <name>Is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Round_Robin_Record_0_0</targetReference>
            </connector>
            <label>Is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Members_Exist</name>
        <label>Do Members Exist</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No Members</defaultConnectorLabel>
        <rules>
            <name>Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member_Count</targetReference>
            </connector>
            <label>Members Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Loop_Counter_Match_Member_Number_0</name>
        <label>Does Loop Counter Match Member Number?</label>
        <locationX>270</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Add_1_to_Loop_Counter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_Matches_Member_Number_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextToAssign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_RR_Number</targetReference>
            </connector>
            <label>Counter Matches Member Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_the_Queue</name>
        <label>Found the Queue</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Queue Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieved_RR_CS_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Round_Robin_Group</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextRoundRobinGroupMember</name>
        <dataType>Number</dataType>
        <expression>MOD({!Retrieved_RR_CS_Record.RR_Counter__c},{!NumberofGroupMembers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Round Robin Lead CS {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Round Robin Lead CS</label>
    <loops>
        <name>Get_Next_RR_Member</name>
        <label>Get Next RR Member</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>GroupMemberList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Loop_Counter_Match_Member_Number_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_1_to_RR_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Round_Robin_Record_0_0</name>
        <label>Get Round Robin Record</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_the_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </filters>
        <object>RR_Lead_Counters_CS__c</object>
        <outputReference>Retrieved_RR_CS_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Queue_Name__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Group_Members</name>
        <label>Get The Group Members</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Members_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_The_Round_Robin_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMemberList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GroupId</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Round_Robin_Group</name>
        <label>Get The Round Robin Group</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Retrieved_RR_CS_Record.RR_Group_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_RR_Counter_0</name>
        <label>Increment RR Counter</label>
        <locationX>138</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Update_The_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.DeveloperName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RR_Counter__c</field>
            <value>
                <elementReference>Retrieved_RR_CS_Record.RR_Counter__c</elementReference>
            </value>
        </inputAssignments>
        <object>RR_Lead_Counters_CS__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_Lead_Owner</name>
        <label>Update The Lead Owner</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Next_RR_Member.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Lead_Owner_Type</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GroupMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextRRNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NextToAssign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofGroupMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Retrieved_RR_CS_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Lead_Counters_CS__c</objectType>
    </variables>
    <variables>
        <name>RoundRobinGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
