force-app/main/default/flows/Round_Robin_Opportunity_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_1_to_Loop_Counter</name>
        <label>Add 1 to Loop Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_to_RR_Number</name>
        <label>Add 1 to RR Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RROppCounter.RR_Counter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_RR_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_RR_Member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_RR_Member.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_The_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Group_Member_Count</name>
        <label>Get Group Member Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NumberOfGroupMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GroupMemberList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Member_To_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_RR_Loop_Counter</name>
        <label>Initialise RR Loop Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_RR_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Member_To_Assign</name>
        <label>Next Member To Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NextToAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextRoundRobinGroupMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialise_RR_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Members_Exist</name>
        <label>Do Members Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Members_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member_Count</targetReference>
            </connector>
            <label>Members Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Loop_Counter_Match_Member_Number</name>
        <label>Does Loop Counter Match Member Number?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_1_to_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Match</defaultConnectorLabel>
        <rules>
            <name>Counter_Matches_Member_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextToAssign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner</targetReference>
            </connector>
            <label>Counter Matches Member Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_The_Group</name>
        <label>Found The Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Group Not Found</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_Round_Robin_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_Group_Members</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Record_Type_Name</name>
        <label>Get Record Type Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>New_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NB_RR_Counter</targetReference>
            </connector>
            <label>New Business</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Auto_Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto_Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Referral_Cases</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_NB</name>
        <label>Is NB?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NB_Task</targetReference>
            </connector>
            <label>NB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Case_Attached</name>
        <label>Referral Case Attached?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesReferralFailed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Referral_Cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_RR_Counter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates Opp Owner
Called by Opportunity: Create</description>
    <environments>Default</environments>
    <formulas>
        <name>NextRoundRobinGroupMember</name>
        <dataType>Number</dataType>
        <expression>MOD({!RROppCounter.RR_Counter__c},{!NumberOfGroupMembers})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Round Robin Opportunity Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Robin Opportunity Subflow</label>
    <loops>
        <name>Get_Next_RR_Member</name>
        <label>Get Next RR Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GroupMemberList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Loop_Counter_Match_Member_Number</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NB_Task</name>
        <label>Create NB Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Due_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Next_RR_Member.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NB: Attempt to Contact 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Subjects__c</field>
            <value>
                <stringValue>NB: Attempt to Contact 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_NB_RR_Counter</name>
        <label>Get NB RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Round_Robin_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Business</stringValue>
            </value>
        </filters>
        <object>RR_Opportunity_Counters_CS__c</object>
        <outputReference>RROppCounter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Record_Type__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppRecordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Referral_Cases</name>
        <label>Get Related Referral Cases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Case_Attached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Referral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_RR_Counter</name>
        <label>Get Renewal RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Round_Robin_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RR_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>RR_Opportunity_Counters_CS__c</object>
        <outputReference>RROppCounter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RR_Record_Type__c</queriedFields>
        <queriedFields>RR_Group_Name__c</queriedFields>
        <queriedFields>RR_Counter__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Group_Members</name>
        <label>Get The Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Members_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_The_Round_Robin_Group.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMemberList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Round_Robin_Group</name>
        <label>Get The Round Robin Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_The_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RROppCounter.RR_Group_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_RR_Counter</name>
        <label>Increment RR Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_NB</targetReference>
        </connector>
        <inputReference>RROppCounter</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_The_Opportunity_Owner</name>
        <label>Update The Opportunity Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_1_to_RR_Number</targetReference>
        </connector>
        <inputReference>Get_Opportunity_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>IsNewOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NextToAssign</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfGroupMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OppOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Retrieved_RR_CS_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Lead_Counters_CS__c</objectType>
    </variables>
    <variables>
        <name>RROppCounter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RR_Opportunity_Counters_CS__c</objectType>
    </variables>
</Flow>
