force-app/main/default/flows/Source_Set_Source_Count_on_Lead_Auto_launched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Source_Count</name>
        <label>Assign Source Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Source_with_the_same_Introduced_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Introduced_Lead</name>
        <label>Has Introduced Lead?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Introduced_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Introduced_Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Source_with_the_same_Introduced_Lead</targetReference>
            </connector>
            <label>Yes, has Introduced Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Source: Set Source Count on Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Source: Set Source Count on Lead (Auto-launched)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Source_with_the_same_Introduced_Lead</name>
        <label>Get All Source with the same Introduced Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Source_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Introduced_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Introduced_Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attribution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Introduced_Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Attribution__c</field>
            <value>
                <elementReference>sourceCount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Introduced_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Attribution__c</objectType>
    </variables>
    <variables>
        <name>sourceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
