force-app/main/default/flows/Task_Update_Opportunity_Stage_Fields_when_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Agreement_Signed_Assignment</name>
        <label>Agreement Signed Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Demo_Booked_Assignment</name>
        <label>Demo Booked Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discovery_Call_Assignment</name>
        <label>Discovery Call Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GI_Discovery_Call_l_Assignment</name>
        <label>GI Discovery Call l Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GI_Meeting_Attended_Assignment</name>
        <label>GI Meeting Attended Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Health_Check_Agreement_Signed_Assignment</name>
        <label>Health Check Agreement Signed  Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Health_Check_IR35_Team_Meeting_Booked_Assignment</name>
        <label>Health Check IR35 Team Meeting Booked  Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meeting_Attended_Assignment</name>
        <label>Meeting Attended Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meeting_booked_Assignment</name>
        <label>Meeting booked Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PI_Agreement_signed_Assignment</name>
        <label>PI Agreement signed Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PI_Meeting_Booked_Assignment</name>
        <label>PI Meeting Booked Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PL_Agreement_signed_Assignment</name>
        <label>PL Agreement signed Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PL_Meeting_Booked_Assignment</name>
        <label>PL Meeting Booked Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Proposal_UW_Quote_Sent_Assignment</name>
        <label>Proposal UW Quote Sent Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Opp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Products</name>
        <label>Check Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IR35_Health_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD IR35 Health Check Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject</targetReference>
            </connector>
            <label>IR35 Health Check</label>
        </rules>
        <rules>
            <name>IR35_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD IR35 Tool Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_IR35_Tool</targetReference>
            </connector>
            <label>IR35 Tool</label>
        </rules>
        <rules>
            <name>Off_Payroll_Protect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD Off Payroll Protect Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_Off_Payroll_Protect</targetReference>
            </connector>
            <label>Off Payroll Protect</label>
        </rules>
        <rules>
            <name>IR35_Protect_Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD IR35 Protect Insurance Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_Protect_Insurance</targetReference>
            </connector>
            <label>IR35 Protect Insurance</label>
        </rules>
        <rules>
            <name>Group_Insurance_KRI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD Group Insurance Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_Group_Insurance</targetReference>
            </connector>
            <label>Group Insurance - KRI</label>
        </rules>
        <rules>
            <name>Public_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD Public Liability Affinity Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_PL</targetReference>
            </connector>
            <label>Public Liability</label>
        </rules>
        <rules>
            <name>Professional_Indemnity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BD PI &amp; PL Action Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Subject_PI</targetReference>
            </connector>
            <label>Professional Indemnity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Object_is_Opportunity</name>
        <label>Related Object is Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task.LabsActionPlans__Action_Plan__r.LabsActionPlans__Related_Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Action_Plan_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Products</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject</name>
        <label>Task Subject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HealthCheckIR35TeamMeetingBooked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health Check IR35 Team Meeting Booked </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Health_Check_IR35_Team_Meeting_Booked_Assignment</targetReference>
            </connector>
            <label>Health Check IR35 Team Meeting Booked</label>
        </rules>
        <rules>
            <name>Agreement_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Health_Check_Agreement_Signed_Assignment</targetReference>
            </connector>
            <label>Agreement Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_Group_Insurance</name>
        <label>Task Subject - Group Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_Call_GI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GI_Discovery_Call_l_Assignment</targetReference>
            </connector>
            <label>Discovery Call - GI</label>
        </rules>
        <rules>
            <name>KRI_proposal_form_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KRI proposal form sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GI_Meeting_Attended_Assignment</targetReference>
            </connector>
            <label>KRI proposal form sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_IR35_Tool</name>
        <label>Task Subject - IR35 Tool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demo_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Subjects__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Booked_Assignment</targetReference>
            </connector>
            <label>Demo Booked</label>
        </rules>
        <rules>
            <name>Agreement_Signed_IR35_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Signed_Assignment</targetReference>
            </connector>
            <label>Agreement Signed -  IR35 Tool</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_Off_Payroll_Protect</name>
        <label>Task Subject - Off Payroll Protect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_booked_OPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_booked_Assignment</targetReference>
            </connector>
            <label>Meeting booked - OPP</label>
        </rules>
        <rules>
            <name>Proposal_UW_Quote_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal UW Quote Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_UW_Quote_Sent_Assignment</targetReference>
            </connector>
            <label>Proposal UW Quote Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_PI</name>
        <label>Task Subject PI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_Meeting_Booked_Assignment</targetReference>
            </connector>
            <label>Meeting Booked</label>
        </rules>
        <rules>
            <name>Agreement_Signed_PI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PI_Agreement_signed_Assignment</targetReference>
            </connector>
            <label>Agreement Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_PL</name>
        <label>Task Subject - PL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Booked_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PL_Meeting_Booked_Assignment</targetReference>
            </connector>
            <label>Meeting Booked PL</label>
        </rules>
        <rules>
            <name>Agreement_signed_PL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PL_Agreement_signed_Assignment</targetReference>
            </connector>
            <label>Agreement signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Subject_Protect_Insurance</name>
        <label>Task Subject Protect Insurance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discovery_Call_Assignment</targetReference>
            </connector>
            <label>Discovery Call</label>
        </rules>
        <rules>
            <name>Meeting_Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Attended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Attended_Assignment</targetReference>
            </connector>
            <label>Meeting Attended</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task: Update Opportunity Stage &amp; Fields when Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task: Update Opportunity Stage &amp; Fields when Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Action_Plan_Task</name>
        <label>Get Action Plan Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Object_is_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LabsActionPlans__TaskAPTask__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LabsActionPlans__APTask__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>var_Opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Action_Plan_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LabsActionPlans__TaskAPTask__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
